Repository pproenca/dot-claude: changes, and which pre-commit hooks are due for each by the changed paths.
All: marketplace-level-1, marketplace-level-2, marketplace-level-6

marketplace-level-1:
  name: Level 1 - Syntax & Structure
  entry: scripts/level-1-syntax.sh
  language: script
  pass_filenames: false

marketplace-level-2:
  name: Level 2 - Frontmatter Fields
  entry: scripts/level-2-frontmatter.sh
  language: script
  pass_filenames: false

marketplace-level-6:
  name: Level 6 - Bash Syntax
  entry: scripts/level-6-bash.sh
  language: script
  pass_filenames: false

docs: add root CLAUDE.md for Claude Code guidance
  CLAUDE.md
Due: none

chore: cpp debugging skill
  domain_plugins/dev-debug-cpp/.claude-plugin/plugin.json
  domain_plugins/dev-debug-cpp/skills/dev-debug-cpp/SKILL.md
Due: marketplace-level-1, marketplace-level-2

feat(skills-template): add plugin for creating best-practices skills
  domain_plugins/skills-template/.claude-plugin/plugin.json
  domain_plugins/skills-template/PLACEHOLDERS.md
  domain_plugins/skills-template/README.md
  domain_plugins/skills-template/SKILL-TEMPLATE.md
  domain_plugins/skills-template/agents/skill-architect.md
  domain_plugins/skills-template/commands/create-skill.md
  domain_plugins/skills-template/starter/SKILL.md
  domain_plugins/skills-template/starter/references/guidelines.md
  domain_plugins/skills-template/starter/references/rules/_sections.md
  domain_plugins/skills-template/starter/references/rules/_template.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix: resolve validation errors across multiple plugins
  .claude-plugin/marketplace.json
  domain_plugins/cpp-best-practices/skills/cpp-performance/SKILL.md
  domain_plugins/dev-python/commands/refactor.md
  domain_plugins/skills-template/commands/create-skill.md
  plugins/dev-workflow/commands/execute-plan.md
  plugins/dev-workflow/commands/user-story.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat(cpp-performance): expand skill with modular rule files
  domain_plugins/cpp-best-practices/skills/cpp-performance/SKILL.md
  domain_plugins/cpp-best-practices/skills/cpp-performance/references/cpp-performance-guidelines.md
  domain_plugins/cpp-best-practices/skills/cpp-performance/references/rules/algo-lookup-table.md
  domain_plugins/cpp-best-practices/skills/cpp-performance/references/rules/algo-small-vector.md
  domain_plugins/cpp-best-practices/skills/cpp-performance/references/rules/codegen-attributes.md
  domain_plugins/cpp-best-practices/skills/cpp-performance/references/rules/codegen-branchless.md
  domain_plugins/cpp-best-practices/skills/cpp-performance/references/rules/codegen-lto.md
  domain_plugins/cpp-best-practices/skills/cpp-performance/references/rules/codegen-noexcept.md
  domain_plugins/cpp-best-practices/skills/cpp-performance/references/rules/codegen-pgo.md
  domain_plugins/cpp-best-practices/skills/cpp-performance/references/rules/codegen-simd.md
  domain_plugins/cpp-best-practices/skills/cpp-performance/references/rules/io-direct.md
  domain_plugins/cpp-best-practices/skills/cpp-performance/references/rules/io-mmap.md
  domain_plugins/cpp-best-practices/skills/cpp-performance/references/rules/io-preallocate.md
  domain_plugins/dev-ts/.claude-plugin/plugin.json
  domain_plugins/dev-ts/skills/dev-ts/SKILL.md
  domain_plugins/dev-ts/skills/dev-ts/references/patterns.md
Due: marketplace-level-1, marketplace-level-2

feat(skills-template): enhance quality standards to match react-best-practices
  domain_plugins/skills-template/PLACEHOLDERS.md
  domain_plugins/skills-template/SKILL-TEMPLATE.md
  domain_plugins/skills-template/agents/skill-architect.md
  domain_plugins/skills-template/starter/SKILL.md
  domain_plugins/skills-template/starter/references/guidelines.md
  domain_plugins/skills-template/starter/references/rules/_template.md
Due: marketplace-level-1, marketplace-level-2

chore: update skills rules and validation scripts
  CLAUDE.md
  plugins/dev-workflow/CLAUDE.md
  plugins/dev-workflow/scripts/validate.sh
  scripts/level-2-frontmatter.sh
  skills/node-addon-best-practices/references/rules/async-no-napi-in-execute.md
  skills/node-addon-best-practices/references/rules/async-threadsafe-function.md
  skills/node-addon-best-practices/references/rules/memory-external-tracking.md
  skills/node-addon-best-practices/references/rules/memory-finalizers.md
  skills/node-addon-best-practices/references/rules/memory-handle-scopes.md
  skills/node-addon-best-practices/references/rules/memory-references.md
  skills/node-addon-best-practices/references/rules/napi-check-status.md
  skills/node-addon-best-practices/references/rules/napi-type-tags.md
  skills/node-addon-best-practices/references/rules/napi-use-napi-over-v8.md
  skills/node-addon-best-practices/references/rules/perf-minimize-marshaling.md
  skills/python-best-practices/references/python-performance-guidelines.md
  skills/python-best-practices/references/rules/_sections.md
  skills/python-best-practices/references/rules/async-avoid-blocking.md
  skills/python-best-practices/references/rules/async-cancellation.md
  skills/python-best-practices/references/rules/async-taskgroup.md
  skills/python-best-practices/references/rules/async-timeout.md
  skills/python-best-practices/references/rules/data-dataclass-slots.md
  skills/python-best-practices/references/rules/perf-cache.md
  skills/python-best-practices/references/rules/perf-slots.md
  skills/python-best-practices/references/rules/typing-builtin-generics.md
  skills/python-best-practices/references/rules/typing-none-instead-of-optional.md
  skills/python-best-practices/references/rules/typing-pep695-syntax.md
  skills/python-best-practices/references/rules/typing-type-statement.md
  skills/python-best-practices/references/rules/typing-union-pipe-syntax.md
  skills/typescript-best-practices/references/rules/api-branded-types.md
  skills/typescript-best-practices/references/rules/error-result-pattern.md
  skills/typescript-best-practices/references/rules/module-type-imports.md
  skills/typescript-best-practices/references/rules/perf-barrel-files.md
  skills/typescript-best-practices/references/rules/perf-const-enums.md
  skills/typescript-best-practices/references/rules/perf-incremental.md
  skills/typescript-best-practices/references/rules/perf-project-references.md
  skills/typescript-best-practices/references/rules/safety-discriminated-unions.md
  skills/typescript-best-practices/references/rules/safety-no-any.md
  skills/typescript-best-practices/references/rules/safety-strict-mode.md
  skills/typescript-best-practices/references/rules/safety-type-narrowing.md
  skills/typescript-best-practices/references/typescript-best-practices-guidelines.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

chore: complete skill quality enhancements
  skills/node-addon-best-practices/references/rules/build-prebuild.md
  skills/node-addon-best-practices/references/rules/error-enable-exceptions.md
  skills/python-best-practices/SKILL.md
  skills/python-best-practices/references/python-performance-guidelines.md
  skills/typescript-best-practices/references/rules/config-indexed-access.md
  skills/typescript-best-practices/references/rules/pattern-exhaustive.md
Due: none

feat: add OpenSpec for spec-driven development
  .claude/commands/openspec/apply.md
  .claude/commands/openspec/archive.md
  .claude/commands/openspec/proposal.md
  .serena/.gitignore
  .serena/project.yml
  AGENTS.md
  CLAUDE.md
  docs/anti-abandonment-patterns.mermaid
  docs/context-distribution-flow.mermaid
  docs/multi-agent-workflow.mermaid
  docs/plans/2024-12-30-shell-script-edge-case-tests.md
  openspec/AGENTS.md
  openspec/project.md
Due: none

chore(skills-template): replace emojis with ASCII equivalents
  domain_plugins/skills-template/PLACEHOLDERS.md
  domain_plugins/skills-template/README.md
  domain_plugins/skills-template/SKILL-TEMPLATE.md
  domain_plugins/skills-template/agents/skill-architect.md
  domain_plugins/skills-template/commands/create-skill.md
  domain_plugins/skills-template/starter/SKILL.md
  domain_plugins/skills-template/starter/references/guidelines.md
  domain_plugins/skills-template/starter/references/rules/_template.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix(dev-skill): add missing plugin.json for discovery
  plugins/dev-skill/.claude-plugin/plugin.json
Due: marketplace-level-1

fix(dev-skill): move SKILL.md to skills/ for auto-discovery
  plugins/dev-skill/agents/preflight-validator.md
  plugins/dev-skill/skills/skill-creator/SKILL.md
Due: marketplace-level-1, marketplace-level-2

chore: clean up skills
  .claude-plugin/marketplace.json
  scripts/generate-marketplace.sh
Due: none

fix(dev-skill): remove invalid model field from skill frontmatter
  plugins/dev-skill/skills/skill-creator/SKILL.md
Due: marketplace-level-1, marketplace-level-2

refactor(dev-skill): convert skill-creator skill to /dev-skill:new command
  plugins/dev-skill/commands/new.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix(dev-skill): replace ${CLAUDE_PLUGIN_ROOT} with dynamic discovery in skill-reviewer
  domain_plugins/dev-seo.skill
  plugins/dev-skill/agents/skill-reviewer.md
  plugins/dev-workflow/agents/code-architect.md
Due: marketplace-level-1, marketplace-level-2

feat(dev-skill): ask user where to write skill (global vs project)
  plugins/dev-skill/commands/new.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat(dev-skill): enforce automated AGENTS.md generation with verification
  openspec/changes/update-agents-md-generation/proposal.md
  openspec/changes/update-agents-md-generation/specs/skill-generation/spec.md
  openspec/changes/update-agents-md-generation/tasks.md
  plugins/dev-skill/commands/new.md
  plugins/dev-skill/references/AGENTS.md
  plugins/dev-skill/references/rules/_sections.md
  plugins/dev-skill/references/rules/_template.md
  plugins/dev-skill/scripts/README.md
  plugins/dev-skill/scripts/build-agents-md.js
  plugins/dev-skill/scripts/validate-skill.js
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix(dev-skill): use ${CLAUDE_PLUGIN_ROOT} for all plugin-relative paths
  plugins/dev-skill/agents/skill-reviewer.md
  plugins/dev-skill/commands/new.md
  plugins/dev-skill/references/README.md
  plugins/dev-skill/scripts/validation/constants.js
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat(dev-skill): use references/ and assets/templates/ for generated skills
  openspec/changes/refactor-dev-skill-directories/design.md
  openspec/changes/refactor-dev-skill-directories/proposal.md
  openspec/changes/refactor-dev-skill-directories/specs/dev-skill/spec.md
  openspec/changes/refactor-dev-skill-directories/tasks.md
  plugins/dev-skill/commands/new.md
  plugins/dev-skill/references/QUALITY_CHECKLIST.md
  plugins/dev-skill/references/README.md
  plugins/dev-skill/references/examples/_sections.md
  plugins/dev-skill/references/examples/_template.md
  plugins/dev-skill/references/examples/advanced-use-latest.md
  plugins/dev-skill/references/examples/async-dependencies.md
  plugins/dev-skill/references/examples/async-parallel.md
  plugins/dev-skill/references/examples/bundle-barrel-imports.md
  plugins/dev-skill/references/examples/bundle-dynamic-imports.md
  plugins/dev-skill/references/examples/client-swr-dedup.md
  plugins/dev-skill/references/examples/js-set-map-lookups.md
  plugins/dev-skill/references/examples/js-tosorted-immutable.md
  plugins/dev-skill/references/examples/rendering-content-visibility.md
  plugins/dev-skill/references/examples/rerender-memo.md
  plugins/dev-skill/references/examples/server-cache-react.md
  plugins/dev-skill/references/examples/server-parallel-fetching.md
  plugins/dev-skill/scripts/build-agents-md.js
  plugins/dev-skill/scripts/validation/constants.js
  plugins/dev-skill/scripts/validation/validator.js
  plugins/dev-skill/templates/skill-generator/AGENTS.md.template
  plugins/dev-skill/templates/skill-generator/SKILL.md.template
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat(dev-skill): add from-codebase command for extracting style skills
  plugins/dev-skill/agents/codebase-analyzer.md
  plugins/dev-skill/commands/from-codebase.md
  plugins/dev-skill/scripts/README.md
  plugins/dev-skill/scripts/clone-repos.sh
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat(dev-skill): add parallel analyzer agents for faster codebase analysis
  plugins/dev-skill/agents/codebase-analyzer.md
  plugins/dev-skill/agents/component-analyzer.md
  plugins/dev-skill/agents/error-handling-analyzer.md
  plugins/dev-skill/agents/naming-analyzer.md
  plugins/dev-skill/agents/organization-analyzer.md
  plugins/dev-skill/commands/from-codebase.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat(dev-skill): add dependency checking and SessionStart hook
  Makefile
  plugins/dev-skill/hooks/hooks.json
  plugins/dev-skill/hooks/session-start.sh
  plugins/dev-skill/scripts/README.md
  plugins/dev-skill/scripts/check-dependencies.sh
  plugins/dev-skill/scripts/setup.sh
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix(dev-skill): use multiline YAML strings for agent descriptions with examples
  plugins/dev-skill/agents/codebase-analyzer.md
  plugins/dev-skill/agents/component-analyzer.md
  plugins/dev-skill/agents/error-handling-analyzer.md
  plugins/dev-skill/agents/naming-analyzer.md
  plugins/dev-skill/agents/organization-analyzer.md
Due: marketplace-level-1, marketplace-level-2

fix(dev-skill): add examples and color to remaining agents
  plugins/dev-skill/agents/migration-judge.md
  plugins/dev-skill/agents/preflight-validator.md
  plugins/dev-skill/agents/skill-reviewer.md
Due: marketplace-level-1, marketplace-level-2

refactor(dev-skill): simplify AGENTS.md to TOC-only structure
  plugins/dev-skill/references/AGENTS.md
  plugins/dev-skill/scripts/build-agents-md.js
  plugins/dev-skill/templates/skill-generator/AGENTS.md.template
Due: marketplace-level-1, marketplace-level-2

feat(dev-skill): add /dev-skill:shrink command to regenerate TOC-only AGENTS.md
  plugins/dev-skill/commands/shrink.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

refactor(dev-skill): remove AGENTS.md and README.md from /dev-skill:new output
  plugins/dev-skill/commands/new.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

refactor(dev-skill): align /dev-skill:migrate with curated skill structure
  plugins/dev-skill/commands/migrate.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

Path conditions:
  marketplace-level-1: any of: ^(plugins|domain_plugins)/.*\.(md|json)$
  marketplace-level-2: any of: ^(plugins|domain_plugins)/.*\.md$
  marketplace-level-6: any of: ^(plugins|domain_plugins)/.*(commands/.*\.md|\.sh)$
