Repository pproenca/dot-claude: changes, and which pre-commit hooks are due for each by the changed paths.
All: marketplace-level-1, marketplace-level-2, marketplace-level-6

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ["-x"]
        files: \.(sh|bash)$

  # Marketplace validation hooks
  - repo: local
    hooks:
      - id: marketplace-level-1
        name: Level 1 - Syntax & Structure
        entry: scripts/level-1-syntax.sh
        language: script
        pass_filenames: false
        files: ^(plugins|domain_plugins)/.*\.(md|json)$

      - id: marketplace-level-2
        name: Level 2 - Frontmatter Fields
        entry: scripts/level-2-frontmatter.sh
        language: script
        pass_filenames: false
        files: ^(plugins|domain_plugins)/.*\.md$

      - id: marketplace-level-6
        name: Level 6 - Bash Syntax
        entry: scripts/level-6-bash.sh
        language: script
        pass_filenames: false
        files: ^(plugins|domain_plugins)/.*(commands/.*\.md|\.sh)$

refactor(dev-skill): consolidate 8 agents into 4 Opus-powered agents
  plugins/dev-skill/agents/code-patterns-analyzer.md
  plugins/dev-skill/agents/codebase-analyzer.md
  plugins/dev-skill/agents/component-analyzer.md
  plugins/dev-skill/agents/error-handling-analyzer.md
  plugins/dev-skill/agents/migration-judge.md
  plugins/dev-skill/agents/naming-analyzer.md
  plugins/dev-skill/agents/organization-analyzer.md
  plugins/dev-skill/agents/preflight-validator.md
  plugins/dev-skill/agents/skill-reviewer.md
  plugins/dev-skill/agents/structure-analyzer.md
  plugins/dev-skill/commands/from-codebase.md
  plugins/dev-skill/commands/migrate.md
  plugins/dev-skill/references/README.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat(dev-skill): add /dev-skill:improve command for evidence-based skill fixes
  plugins/dev-skill/commands/improve.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

refactor(dev-skill): use Sonnet for analyzers and align commands with build-agents-md.js
  plugins/dev-skill/agents/code-patterns-analyzer.md
  plugins/dev-skill/agents/structure-analyzer.md
  plugins/dev-skill/commands/from-codebase.md
  plugins/dev-skill/commands/migrate.md
  plugins/dev-skill/commands/new.md
  plugins/dev-skill/hooks/session-start.sh
  plugins/dev-skill/templates/skill-generator/MENTAL_MODEL.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

docs: design for upgrading dev-workflow to Claude 2.1.39 + Opus 4.6
  docs/plans/2026-02-22-upgrade-claude-2139-opus46-design.md
Due: none

docs: implementation plan for upgrading dev-workflow to Claude 2.1.39 + Opus 4.6
  docs/plans/2026-02-22-upgrade-claude-2139-opus46.md
Due: none

refactor(dev-workflow): update frontmatter tools and constants for Claude 2.1.39
  plugins/dev-workflow/agents/code-explorer.md
  plugins/dev-workflow/commands/abandon.md
  plugins/dev-workflow/commands/brainstorm.md
  plugins/dev-workflow/commands/execute-plan.md
  plugins/dev-workflow/commands/resume.md
  plugins/dev-workflow/commands/user-story.md
  plugins/dev-workflow/commands/write-plan.md
  plugins/dev-workflow/hooks.md
  plugins/dev-workflow/scripts/validate.sh
  plugins/dev-workflow/skills/condition-based-waiting/SKILL.md
  plugins/dev-workflow/skills/finishing-a-development-branch/SKILL.md
  plugins/dev-workflow/skills/getting-started/SKILL.md
  plugins/dev-workflow/skills/receiving-code-review/SKILL.md
  plugins/dev-workflow/skills/root-cause-tracing/SKILL.md
  plugins/dev-workflow/skills/systematic-debugging/SKILL.md
  plugins/dev-workflow/skills/test-driven-development/SKILL.md
  plugins/dev-workflow/skills/testing-anti-patterns/SKILL.md
  plugins/dev-workflow/tools.md
  scripts/lib/constants.sh
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat(dev-workflow): rewrite command/skill bodies for Claude 2.1.39 task primitives
  plugins/dev-workflow/CLAUDE.md
  plugins/dev-workflow/commands/abandon.md
  plugins/dev-workflow/commands/execute-plan.md
  plugins/dev-workflow/commands/resume.md
  plugins/dev-workflow/skills/getting-started/SKILL.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix(dev-workflow): resolve remaining stale references from 2.1.39 upgrade
  plugins/dev-workflow/README.md
  plugins/dev-workflow/commands/abandon.md
  plugins/dev-workflow/references/persuasion-principles.md
  plugins/dev-workflow/references/skill-integration.md
  plugins/dev-workflow/skills/verification-before-completion/SKILL.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix: address code review findings for 2.1.39 upgrade
  CLAUDE.md
  plugins/dev-workflow/agents/code-reviewer.md
  plugins/dev-workflow/skills/finishing-a-development-branch/SKILL.md
Due: marketplace-level-1, marketplace-level-2

chore(dev-workflow): remove stale user_stories.md
  plugins/dev-workflow/user_stories.md
Due: marketplace-level-1, marketplace-level-2

chore(domain-plugins): remove Serena MCP references from frontmatter
  domain_plugins/dev-python/agents/async-python-specialist.md
  domain_plugins/dev-python/agents/django-specialist.md
  domain_plugins/dev-python/agents/python-expert.md
  domain_plugins/dev-python/commands/refactor.md
  domain_plugins/dev-python/skills/python-performance/SKILL.md
  domain_plugins/dev-python/skills/python-project/SKILL.md
  domain_plugins/dev-python/skills/python-testing/SKILL.md
  domain_plugins/dev-shell/agents/shell-expert.md
  domain_plugins/dev-shell/commands/refactor.md
  domain_plugins/dev-shell/skills/google-shell-style/SKILL.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

chore(dev-skill): replace TodoWrite with TaskCreate/TaskUpdate/TaskList in frontmatter
  plugins/dev-skill/commands/from-codebase.md
  plugins/dev-skill/commands/improve.md
  plugins/dev-skill/commands/migrate.md
  plugins/dev-skill/commands/new.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

chore(dev-debug-cpp): remove deprecated LSP tool from frontmatter
  domain_plugins/dev-debug-cpp/skills/dev-debug-cpp/SKILL.md
Due: marketplace-level-1, marketplace-level-2

docs: add skill overhaul design doc
  docs/plans/2026-02-22-skill-overhaul-design.md
Due: none

docs: implementation plan for skill overhaul
  docs/plans/2026-02-22-skill-overhaul.md
Due: none

refactor(dev-workflow): overhaul skills for token efficiency (-1654 lines)
  plugins/dev-workflow/commands/execute-plan.md
  plugins/dev-workflow/references/persuasion-principles.md
  plugins/dev-workflow/references/prompt-engineering.md
  plugins/dev-workflow/skills/getting-started/SKILL.md
  plugins/dev-workflow/skills/root-cause-tracing/SKILL.md
  plugins/dev-workflow/skills/systematic-debugging/SKILL.md
  plugins/dev-workflow/skills/systematic-debugging/references/phase-details.md
  plugins/dev-workflow/skills/systematic-debugging/references/rationalizations.md
  plugins/dev-workflow/skills/test-driven-development/SKILL.md
  plugins/dev-workflow/skills/test-driven-development/references/rationales.md
  plugins/dev-workflow/skills/testing-anti-patterns/SKILL.md
  plugins/dev-workflow/skills/verification-before-completion/SKILL.md
  plugins/dev-workflow/tests/session-start.bats
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix: address code review findings from skill overhaul
  plugins/dev-workflow/commands/execute-plan.md
  plugins/dev-workflow/references/code-quality-reviewer-prompt.md
  plugins/dev-workflow/references/spec-reviewer-prompt.md
  plugins/dev-workflow/skills/test-driven-development/SKILL.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat(dev-skill): add eval flow for functional testing of skills
  docs/exec-plans/active/eval-flow-integration.md
  plugins/dev-skill/agents/analyzer.md
  plugins/dev-skill/agents/comparator.md
  plugins/dev-skill/agents/grader.md
  plugins/dev-skill/assets/eval_review.html
  plugins/dev-skill/commands/eval.md
  plugins/dev-skill/commands/evolve.md
  plugins/dev-skill/commands/new.md
  plugins/dev-skill/eval-viewer/generate_review.py
  plugins/dev-skill/eval-viewer/viewer.html
  plugins/dev-skill/hooks/session-start.sh
  plugins/dev-skill/scripts/eval/LICENSE.txt
  plugins/dev-skill/scripts/eval/README.md
  plugins/dev-skill/scripts/eval/__init__.py
  plugins/dev-skill/scripts/eval/aggregate_benchmark.py
  plugins/dev-skill/scripts/eval/generate_report.py
  plugins/dev-skill/scripts/eval/improve_description.py
  plugins/dev-skill/scripts/eval/package_skill.py
  plugins/dev-skill/scripts/eval/quick_validate.py
  plugins/dev-skill/scripts/eval/run_eval.py
  plugins/dev-skill/scripts/eval/run_loop.py
  plugins/dev-skill/scripts/eval/utils.py
  plugins/dev-skill/templates/anatomy/EVAL_GUIDE.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

refactor(dev-skill): align writing guidance with Anthropic's skill-creator findings
  plugins/dev-skill/scripts/validation/constants.js
  plugins/dev-skill/templates/anatomy/ANATOMY.md
  plugins/dev-skill/templates/disciplines/distillation/RECIPE.md
Due: marketplace-level-1, marketplace-level-2

fix: address code review findings from skill overhaul
  plugins/dev-skill/scripts/guardrail.sh
  scripts/level-3-disciplines.sh
  scripts/level-5-file-refs.sh
  scripts/lib/constants.sh
  scripts/validate-all.sh
Due: marketplace-level-6

fix(dev-skill): make validator discipline-aware for non-distillation skills
  plugins/dev-skill/scripts/validation/validator.js
Due: none

feat(dev-skill): add golden set regression suite and fix eval layout
  plugins/dev-skill/commands/eval.md
  plugins/dev-skill/tests/golden-set/run.sh
  plugins/dev-skill/tests/golden-set/specs.json
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix(dev-skill): update outdated model ID in eval README examples
  plugins/dev-skill/scripts/eval/README.md
Due: marketplace-level-1, marketplace-level-2

Add /dev-skill:ingest command for curating skills from existing sources
  plugins/dev-skill/commands/ingest.md
  plugins/dev-skill/hooks/session-start.sh
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

Invert eval loop: baseline-first assertion drafting
  plugins/dev-skill/commands/eval.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix(build-ios-apps): make plugin discoverable in marketplace
  .claude-plugin/marketplace.json
  plugins/build-ios-apps/agents/ios-debugger-agent.md
  plugins/build-ios-apps/agents/swiftui-liquid-glass.md
  plugins/build-ios-apps/agents/swiftui-performance-audit.md
  plugins/build-ios-apps/agents/swiftui-ui-patterns.md
  plugins/build-ios-apps/agents/swiftui-view-refactor.md
Due: marketplace-level-1, marketplace-level-2

feat(agent-cli): add plugin for building, evolving, auditing agent CLIs
  .claude-plugin/marketplace.json
  plugins/agent-cli/.claude-plugin/plugin.json
  plugins/agent-cli/README.md
  plugins/agent-cli/commands/agent-cli.md
  plugins/agent-cli/scripts/repo-health.py
  plugins/agent-cli/skills/agent-spec-kit/SKILL.md
  plugins/agent-cli/skills/agent-spec-kit/references/autonomous-loop.md
  plugins/agent-cli/skills/agent-spec-kit/references/behavior-as-data.md
  plugins/agent-cli/skills/agent-spec-kit/templates/decision.schema.template.json
  plugins/agent-cli/skills/agent-spec-kit/templates/policy.template.md
  plugins/agent-cli/skills/agent-spec-kit/templates/prompt.template.md
  plugins/agent-cli/skills/audit-agent-cli/SKILL.md
  plugins/agent-cli/skills/audit-agent-cli/references/contract-checklist.md
  plugins/agent-cli/skills/audit-agent-cli/references/safety-model.md
  plugins/agent-cli/skills/bootstrap-agent-cli/SKILL.md
  plugins/agent-cli/skills/bootstrap-agent-cli/references/contract.md
  plugins/agent-cli/skills/bootstrap-agent-cli/references/scaffold.md
  plugins/agent-cli/skills/bootstrap-agent-cli/templates/AGENTS-and-changelog.md
  plugins/agent-cli/skills/bootstrap-agent-cli/templates/SPEC.template.md
  plugins/agent-cli/skills/evolve-agent-cli/SKILL.md
  plugins/agent-cli/skills/evolve-agent-cli/references/diagnose-and-pin.md
  plugins/agent-cli/skills/evolve-agent-cli/references/read-when-docs.md
  plugins/agent-cli/skills/evolve-agent-cli/templates/plan-doc.template.md
  plugins/agent-cli/skills/evolve-agent-cli/templates/refactor-doc.template.md
  plugins/agent-cli/skills/evolve-agent-cli/templates/source-map.template.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

chore(validator): refresh built-in tool allowlist to current Claude Code
  scripts/lib/constants.sh
Due: none

feat(dev-skill): rewrite distillation around provable conciseness
  .claude-plugin/marketplace.json
  plugins/dev-skill/.claude-plugin/plugin.json
  plugins/dev-skill/agents/preflight-validator.md
  plugins/dev-skill/agents/skill-reviewer.md
  plugins/dev-skill/commands/eval.md
  plugins/dev-skill/commands/evolve.md
  plugins/dev-skill/commands/ingest.md
  plugins/dev-skill/commands/new.md
  plugins/dev-skill/package.json
  plugins/dev-skill/references/AGENTS.md
  plugins/dev-skill/references/COMPLETE_EXAMPLE.md
  plugins/dev-skill/references/QUALITY_CHECKLIST.md
  plugins/dev-skill/references/README.md
  plugins/dev-skill/references/metadata.json
  plugins/dev-skill/scripts/README.md
  plugins/dev-skill/scripts/build-agents-md.js
  plugins/dev-skill/scripts/validation/constants.js
  plugins/dev-skill/scripts/validation/schemas.js
  plugins/dev-skill/scripts/validation/validator.js
  plugins/dev-skill/templates/anatomy/ANATOMY.md
  plugins/dev-skill/templates/disciplines/composition/RECIPE.md
  plugins/dev-skill/templates/disciplines/distillation/AGENTS.md.template
  plugins/dev-skill/templates/disciplines/distillation/INPUT_SCHEMA.yaml
  plugins/dev-skill/templates/disciplines/distillation/QUALITY_CHECKLIST.md
  plugins/dev-skill/templates/disciplines/distillation/RECIPE.md
  plugins/dev-skill/templates/disciplines/distillation/RUBRIC.md
  plugins/dev-skill/templates/disciplines/distillation/RULE.md.template
  plugins/dev-skill/templates/disciplines/distillation/SKILL.md.template
  plugins/dev-skill/templates/disciplines/distillation/_sections.md.template
  plugins/dev-skill/templates/disciplines/distillation/_template.md.template
  plugins/dev-skill/templates/disciplines/extraction/RECIPE.md
  plugins/dev-skill/templates/disciplines/investigation/RECIPE.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat: add inquiry skill
  plugins/cairn/commands/setup.md
  plugins/cairn/skills/boundary-discipline/scripts/scan.py
  plugins/cairn/skills/capability-ledger/SKILL.md
  plugins/cairn/skills/capability-ledger/scripts/close_loop.py
  plugins/cairn/skills/entity-boot/references/nurture.md
  plugins/cairn/skills/entity-boot/references/reflex.md
  plugins/cairn/skills/entity-boot/scripts/orient.py
  plugins/cairn/skills/feature-workflow/scripts/design_system.py
  plugins/cairn/skills/feature-workflow/scripts/skeleton.py
  plugins/cairn/skills/harness-setup/SKILL.md
  plugins/cairn/skills/harness-setup/references/investigating-substrate.md
  plugins/cairn/skills/harness-setup/scripts/agents_init.py
  plugins/cairn/skills/harness-setup/scripts/config_init.py
  plugins/cairn/skills/harness-setup/scripts/docs_init.py
  plugins/cairn/skills/inquiry/SKILL.md
  plugins/cairn/skills/inquiry/references/predicting.md
  plugins/cairn/skills/inquiry/scripts/calibration.py
  plugins/cairn/skills/inquiry/scripts/observe.py
  plugins/cairn/skills/inquiry/scripts/predict.py
  plugins/cairn/skills/inquiry/scripts/store.py
  plugins/cairn/skills/knowledge-ratchet/SKILL.md
  plugins/cairn/skills/mental-models/SKILL.md
  plugins/cairn/skills/mental-models/scripts/retrieval.py
  plugins/cairn/skills/mental-models/scripts/store.py
  plugins/cairn/skills/toolsmith/SKILL.md
  plugins/cairn/skills/toolsmith/references/forging.md
  plugins/cairn/skills/toolsmith/scripts/motion_observe.py
  plugins/cairn/skills/toolsmith/scripts/store.py
  plugins/cairn/skills/toolsmith/scripts/tool_check.py
  plugins/cairn/skills/toolsmith/scripts/tool_forge.py
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat(cairn): add horizon skill
  plugins/cairn/HORIZON.md
  plugins/cairn/skills/boundary-discipline/scripts/scan.py
  plugins/cairn/skills/capability-ledger/scripts/maturity.py
Due: marketplace-level-1, marketplace-level-2

doc(cairn): add horizon skill
  plugins/cairn/HORIZON.md
Due: marketplace-level-1, marketplace-level-2

feat(cairn): add freshness tracking to library-knowledge
  plugins/cairn/skills/library-knowledge/scripts/freshness.py
  plugins/cairn/skills/library-knowledge/scripts/lib_lookup.py
  plugins/cairn/skills/library-knowledge/scripts/lib_outcome.py
Due: none
