Repository pproenca/dot-claude: changes, and which pre-commit hooks are due for each by the changed paths.
All: marketplace-level-1, marketplace-level-2, marketplace-level-6

marketplace-level-1:
  name: Level 1 - Syntax & Structure
  entry: scripts/level-1-syntax.sh
  language: script
  pass_filenames: false

marketplace-level-2:
  name: Level 2 - Frontmatter Fields
  entry: scripts/level-2-frontmatter.sh
  language: script
  pass_filenames: false

marketplace-level-6:
  name: Level 6 - Bash Syntax
  entry: scripts/level-6-bash.sh
  language: script
  pass_filenames: false

Harden cairn scripts and add behavior tests
  plugins/cairn/skills/boundary-discipline/scripts/scan.py
  plugins/cairn/skills/capability-ledger/scripts/cap_record.py
  plugins/cairn/skills/capability-ledger/scripts/close_loop.py
  plugins/cairn/skills/capability-ledger/scripts/store.py
  plugins/cairn/skills/feature-workflow/scripts/change_check.py
  plugins/cairn/skills/feature-workflow/scripts/design_system.py
  plugins/cairn/skills/feature-workflow/scripts/promote.py
  plugins/cairn/skills/feature-workflow/scripts/shelf_index.py
  plugins/cairn/skills/feature-workflow/scripts/skeleton.py
  plugins/cairn/skills/feature-workflow/scripts/verify.py
  plugins/cairn/skills/harness-setup/scripts/agents_init.py
  plugins/cairn/skills/harness-setup/scripts/config_check.py
  plugins/cairn/skills/harness-setup/scripts/config_init.py
  plugins/cairn/skills/inquiry/scripts/observe.py
  plugins/cairn/skills/inquiry/scripts/store.py
  plugins/cairn/skills/knowledge-ratchet/scripts/ratchet.py
  plugins/cairn/skills/library-knowledge/scripts/store.py
  plugins/cairn/skills/mental-models/scripts/models_record.py
  plugins/cairn/skills/mental-models/scripts/store.py
  plugins/cairn/skills/specialist-knowledge/scripts/specialist_lookup.py
  plugins/cairn/skills/specialist-knowledge/scripts/specialist_refresh.py
  plugins/cairn/skills/specialist-knowledge/scripts/store.py
  plugins/cairn/skills/toolsmith/scripts/store.py
  plugins/cairn/skills/toolsmith/scripts/tool_forge.py
  plugins/cairn/tests/test_scripts_behavior.py
Due: none

feat(cairn): add freshness tracking to library-knowledge
  .gitignore
  plugins/cairn/CONSTITUTION.md
  plugins/cairn/README.md
  plugins/cairn/skills/boundary-discipline/scripts/scan.py
  plugins/cairn/skills/capability-ledger/scripts/maturity.py
  plugins/cairn/skills/entity-boot/SKILL.md
  plugins/cairn/skills/entity-boot/scripts/orient.py
  plugins/cairn/skills/entity-boot/scripts/reflect.py
  plugins/cairn/skills/feature-workflow/scripts/design_system.py
  plugins/cairn/skills/feature-workflow/scripts/plan_check.py
  plugins/cairn/skills/feature-workflow/scripts/promote.py
  plugins/cairn/skills/feature-workflow/scripts/shelf_index.py
  plugins/cairn/skills/harness-setup/scripts/config_check.py
  plugins/cairn/skills/inquiry/scripts/observe.py
  plugins/cairn/skills/inquiry/scripts/store.py
  plugins/cairn/skills/knowledge-ratchet/scripts/ratchet.py
  plugins/cairn/skills/library-knowledge/scripts/lib_outcome.py
  plugins/cairn/skills/mental-models/scripts/models_record.py
  plugins/cairn/skills/specialist-knowledge/scripts/specialist_refresh.py
  plugins/cairn/skills/toolsmith/scripts/motion_observe.py
  plugins/cairn/skills/toolsmith/scripts/store.py
  plugins/cairn/tests/test_scripts_behavior.py
Due: marketplace-level-1, marketplace-level-2

Remove marketplace manifest and bump version
  .claude-plugin/marketplace.json
  .pre-commit-config.yaml
  pyproject.toml
  scripts/generate-marketplace.sh
  scripts/level-1-syntax.sh
  scripts/lib/common.sh
  scripts/lib/constants.sh
  scripts/validate-all.sh
  uv.lock
Due: none

Restore marketplace manifest and bump versions
  .claude-plugin/marketplace.json
  .pre-commit-config.yaml
  pyproject.toml
  scripts/generate-marketplace.sh
  scripts/level-1-syntax.sh
  scripts/lib/common.sh
  scripts/lib/constants.sh
  scripts/validate-all.sh
  uv.lock
Due: none

Replace sed quote escaping in marketplace generator
  scripts/generate-marketplace.sh
Due: none

doc(cairn): add horizon and harness docs
  plugins/cairn/HARNESS.md
  plugins/cairn/HORIZON.md
Due: marketplace-level-1, marketplace-level-2

Clarify entity-boot staleness delegation
  plugins/cairn/skills/entity-boot/references/character.md
Due: marketplace-level-1, marketplace-level-2

Clarify Cairn autonomy and spike handoff rules
  plugins/cairn/skills/capability-ledger/SKILL.md
  plugins/cairn/skills/capability-ledger/references/licensing.md
  plugins/cairn/skills/feature-workflow/SKILL.md
  plugins/cairn/skills/feature-workflow/assets/PLAN.template.md
  plugins/cairn/skills/feature-workflow/scripts/change_new.py
Due: marketplace-level-1, marketplace-level-2

Bump Cairn and marketplace versions
  .claude-plugin/marketplace.json
  plugins/cairn/.claude-plugin/plugin.json
  pyproject.toml
  scripts/generate-marketplace.sh
  uv.lock
Due: marketplace-level-1

Fix XcodeBuildMCP launch: pass mcp subcommand for v2.x
  domain_plugins/build-ios-apps/.mcp.json
Due: marketplace-level-1

Add Apple xcrun mcpbridge (XcodeBridge) MCP to build-ios-apps
  domain_plugins/build-ios-apps/.claude-plugin/plugin.json
  domain_plugins/build-ios-apps/.mcp.json
  domain_plugins/build-ios-apps/README.md
  domain_plugins/build-ios-apps/agents/ios-debugger-agent.md
  domain_plugins/build-ios-apps/skills/ios-debugger-agent/SKILL.md
Due: marketplace-level-1, marketplace-level-2

Revert "Add Apple xcrun mcpbridge (XcodeBridge) MCP to build-ios-apps"
  domain_plugins/build-ios-apps/.claude-plugin/plugin.json
  domain_plugins/build-ios-apps/.mcp.json
  domain_plugins/build-ios-apps/README.md
  domain_plugins/build-ios-apps/agents/ios-debugger-agent.md
  domain_plugins/build-ios-apps/skills/ios-debugger-agent/SKILL.md
Due: marketplace-level-1, marketplace-level-2

Bump build-ios-apps to 0.1.1 (retains XcodeBuildMCP launch fix)
  domain_plugins/build-ios-apps/.claude-plugin/plugin.json
Due: marketplace-level-1

Remove the eval feature from dev-skill (v2.0.0)
  .claude-plugin/marketplace.json
  docs/exec-plans/active/eval-flow-integration.md
  domain_plugins/marketplace/README.md
  plugins/dev-skill/.claude-plugin/plugin.json
  plugins/dev-skill/agents/comparator.md
  plugins/dev-skill/agents/grader.md
  plugins/dev-skill/assets/eval_review.html
  plugins/dev-skill/commands/eval.md
  plugins/dev-skill/commands/evolve.md
  plugins/dev-skill/commands/ingest.md
  plugins/dev-skill/commands/new.md
  plugins/dev-skill/eval-viewer/generate_review.py
  plugins/dev-skill/eval-viewer/viewer.html
  plugins/dev-skill/hooks/session-start.sh
  plugins/dev-skill/references/QUALITY_CHECKLIST.md
  plugins/dev-skill/scripts/README.md
  plugins/dev-skill/scripts/eval/LICENSE.txt
  plugins/dev-skill/scripts/eval/README.md
  plugins/dev-skill/scripts/eval/__init__.py
  plugins/dev-skill/scripts/eval/aggregate_benchmark.py
  plugins/dev-skill/scripts/eval/generate_report.py
  plugins/dev-skill/scripts/eval/improve_description.py
  plugins/dev-skill/scripts/eval/package_skill.py
  plugins/dev-skill/scripts/eval/quick_validate.py
  plugins/dev-skill/scripts/eval/run_eval.py
  plugins/dev-skill/scripts/eval/run_loop.py
  plugins/dev-skill/scripts/eval/utils.py
  plugins/dev-skill/scripts/validation/constants.js
  plugins/dev-skill/scripts/validation/validator.js
  plugins/dev-skill/templates/anatomy/ANATOMY.md
  plugins/dev-skill/templates/anatomy/EVAL_GUIDE.md
  plugins/dev-skill/templates/disciplines/distillation/QUALITY_CHECKLIST.md
  plugins/dev-skill/templates/disciplines/distillation/RECIPE.md
  plugins/dev-skill/templates/disciplines/distillation/RUBRIC.md
  plugins/dev-skill/tests/golden-set/specs.json
  scripts/generate-marketplace.sh
  scripts/level-3-disciplines.sh
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

Move cairn plan/spike artifacts under docs/plans and docs/spikes
  plugins/cairn/skills/feature-workflow/SKILL.md
  plugins/cairn/skills/feature-workflow/scripts/change_check.py
  plugins/cairn/skills/feature-workflow/scripts/change_new.py
  plugins/cairn/skills/feature-workflow/scripts/plan_check.py
  plugins/cairn/skills/feature-workflow/scripts/plan_new.py
  plugins/cairn/skills/spike-workflow/SKILL.md
  plugins/cairn/tests/test_scripts_behavior.py
Due: marketplace-level-1, marketplace-level-2

Slim CLAUDE.md files: drop content derivable from the repo
  CLAUDE.md
  plugins/dev-workflow/CLAUDE.md
Due: marketplace-level-1, marketplace-level-2

Add adversarial discipline to dev-skill (v2.1.0)
  .claude-plugin/marketplace.json
  plugins/dev-skill/.claude-plugin/plugin.json
  plugins/dev-skill/agents/preflight-validator.md
  plugins/dev-skill/commands/evolve.md
  plugins/dev-skill/commands/ingest.md
  plugins/dev-skill/commands/new.md
  plugins/dev-skill/commands/validate.md
  plugins/dev-skill/hooks/session-start.sh
  plugins/dev-skill/scripts/validation/constants.js
  plugins/dev-skill/scripts/validation/validator.js
  plugins/dev-skill/templates/anatomy/ANATOMY.md
  plugins/dev-skill/templates/anatomy/metadata.json.template
  plugins/dev-skill/templates/disciplines/adversarial/RECIPE.md
  plugins/dev-skill/templates/disciplines/adversarial/RUBRIC.md
  plugins/dev-skill/templates/disciplines/adversarial/SKILL.md.template
  plugins/dev-skill/templates/disciplines/adversarial/reviewer-prompt.md.template
  plugins/dev-skill/templates/disciplines/adversarial/rules-source.md.template
  plugins/dev-skill/templates/disciplines/adversarial/verdict.md.template
  plugins/dev-skill/tests/golden-set/run.sh
  plugins/dev-skill/tests/golden-set/specs.json
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

Add navigation discipline to dev-skill (v2.2.0)
  .claude-plugin/marketplace.json
  plugins/dev-skill/.claude-plugin/plugin.json
  plugins/dev-skill/agents/skill-reviewer.md
  plugins/dev-skill/commands/evolve.md
  plugins/dev-skill/commands/ingest.md
  plugins/dev-skill/commands/new.md
  plugins/dev-skill/commands/validate.md
  plugins/dev-skill/hooks/session-start.sh
  plugins/dev-skill/scripts/validation/constants.js
  plugins/dev-skill/scripts/validation/validator.js
  plugins/dev-skill/templates/anatomy/ANATOMY.md
  plugins/dev-skill/templates/anatomy/metadata.json.template
  plugins/dev-skill/templates/disciplines/navigation/RECIPE.md
  plugins/dev-skill/templates/disciplines/navigation/RUBRIC.md
  plugins/dev-skill/templates/disciplines/navigation/SKILL.md.template
  plugins/dev-skill/templates/disciplines/navigation/playbook.md.template
  plugins/dev-skill/templates/disciplines/navigation/sources.md.template
  plugins/dev-skill/templates/disciplines/navigation/verification.md.template
  plugins/dev-skill/tests/golden-set/run.sh
  plugins/dev-skill/tests/golden-set/specs.json
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

Bump marketplace version to 1.1.4
  .claude-plugin/marketplace.json
Due: none

dev-skill: harden adversarial discipline templates after field audit
  plugins/dev-skill/templates/disciplines/adversarial/RECIPE.md
  plugins/dev-skill/templates/disciplines/adversarial/RUBRIC.md
  plugins/dev-skill/templates/disciplines/adversarial/SKILL.md.template
  plugins/dev-skill/templates/disciplines/adversarial/reviewer-prompt.md.template
  plugins/dev-skill/templates/disciplines/adversarial/verdict.md.template
Due: marketplace-level-1, marketplace-level-2

dev-skill: move adversarial gate to a single blind reviewer (v3.0.0)
  .claude-plugin/marketplace.json
  plugins/dev-skill/.claude-plugin/plugin.json
  plugins/dev-skill/agents/preflight-validator.md
  plugins/dev-skill/commands/evolve.md
  plugins/dev-skill/commands/new.md
  plugins/dev-skill/scripts/validation/validator.js
  plugins/dev-skill/templates/disciplines/adversarial/RECIPE.md
  plugins/dev-skill/templates/disciplines/adversarial/RUBRIC.md
  plugins/dev-skill/templates/disciplines/adversarial/SKILL.md.template
  plugins/dev-skill/templates/disciplines/adversarial/reviewer-prompt.md.template
  plugins/dev-skill/templates/disciplines/adversarial/verdict.md.template
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat(swarmforge): add story pipeline plugin
  .claude-plugin/marketplace.json
  plugins/swarmforge/.claude-plugin/plugin.json
  plugins/swarmforge/README.md
  plugins/swarmforge/agents/analyst.md
  plugins/swarmforge/agents/architect.md
  plugins/swarmforge/agents/cleaner.md
  plugins/swarmforge/agents/code-reviewer.md
  plugins/swarmforge/agents/gherkin-writer.md
  plugins/swarmforge/agents/hardener.md
  plugins/swarmforge/agents/implementer.md
  plugins/swarmforge/agents/qa-procedure-writer.md
  plugins/swarmforge/agents/qa-runner.md
  plugins/swarmforge/agents/senior-implementer.md
  plugins/swarmforge/hooks/hooks.json
  plugins/swarmforge/hooks/scripts/squad-session-start.sh
  plugins/swarmforge/skills/squad-approve/SKILL.md
  plugins/swarmforge/skills/squad-backlog/SKILL.md
  plugins/swarmforge/skills/squad-backlog/references/slicing.md
  plugins/swarmforge/skills/squad-init/SKILL.md
  plugins/swarmforge/skills/squad-pipeline/SKILL.md
  plugins/swarmforge/skills/squad-pipeline/references/pipeline.md
  plugins/swarmforge/skills/squad-pipeline/references/roles.md
  plugins/swarmforge/skills/squad-pipeline/references/state.md
  plugins/swarmforge/skills/squad-start/SKILL.md
  plugins/swarmforge/skills/squad-status/SKILL.md
  scripts/lib/constants.sh
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix(swarmforge): correct hook format and namespaced agent dispatch
  plugins/swarmforge/LICENSE
  plugins/swarmforge/README.md
  plugins/swarmforge/agents/analyst.md
  plugins/swarmforge/agents/hardener.md
  plugins/swarmforge/agents/implementer.md
  plugins/swarmforge/hooks/hooks.json
  plugins/swarmforge/skills/squad-init/SKILL.md
  plugins/swarmforge/skills/squad-pipeline/references/pipeline.md
  plugins/swarmforge/skills/squad-pipeline/references/roles.md
  plugins/swarmforge/skills/squad-pipeline/references/state.md
  plugins/swarmforge/skills/squad-start/SKILL.md
Due: marketplace-level-1, marketplace-level-2

Path conditions:
  marketplace-level-1: any of: ^(plugins|domain_plugins)/.*\.(md|json)$
  marketplace-level-2: any of: ^(plugins|domain_plugins)/.*\.md$
  marketplace-level-6: any of: ^(plugins|domain_plugins)/.*(commands/.*\.md|\.sh)$
