Repository pproenca/dot-claude: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-plugins, update-release-config

validate-plugins:
  name: Validate Plugins
  entry: python3 -S scripts/validate-plugins.py
  language: python
  pass_filenames: false

update-release-config:
  name: Update Release Config
  entry: python3 -S scripts/update-release-config.py
  language: python
  pass_filenames: false

feat(workflow): move worktree-guard hook from super
  plugins/core/hooks/hooks.json
  plugins/workflow/hooks/hooks.json
  plugins/workflow/hooks/worktree-guard.sh
Due: validate-plugins, update-release-config

feat(review): move code-review-standards reference from super
  plugins/review/agents/code-reviewer.md
  plugins/review/references/code-review-standards.md
Due: validate-plugins, update-release-config

test: update tests for super plugin removal
  tests/test_plugin_structure.py
Due: none

refactor: update all super:* references to new plugin names
  plugins/python/agents/python-expert.md
  plugins/workflow/skills/executing-plans/SKILL.md
  plugins/workflow/skills/subagent-dev/SKILL.md
Due: validate-plugins, update-release-config

refactor!: remove deprecated super plugin
  plugins/super/.claude-plugin/plugin.json
  plugins/super/.gitignore
  plugins/super/agents/code-reviewer.md
  plugins/super/agents/diagram-generator.md
  plugins/super/agents/security-reviewer.md
  plugins/super/commands/brainstorm.md
  plugins/super/commands/context.md
  plugins/super/commands/exec.md
  plugins/super/commands/notes.md
  plugins/super/commands/plan.md
  plugins/super/hooks/hooks.json
  plugins/super/hooks/worktree-guard.sh
  plugins/super/lib/skills-core.js
  plugins/super/references/code-review-standards.md
Due: validate-plugins, update-release-config

docs: mark migration complete in MIGRATION.md
  docs/MIGRATION.md
Due: none

docs: remove super plugin from CLAUDE.md
  CLAUDE.md
Due: none

test: remove migration-specific skill name length test
  tests/test_plugin_structure.py
Due: none

docs: update README for super plugin removal
  .claude-plugin/marketplace.json
  README.md
  plugins/core/hooks/session-start.sh
  release-please-config.json
Due: validate-plugins, update-release-config

docs: add implementation plan for super plugin removal
  docs/plans/2025-12-02-complete-migration-remove-super.md
Due: none

feat: add settings and plugin validation tooling
  .claude/commands/claude_doctor.md
  .pre-commit-config.yaml
  CLAUDE.md
  docs/plans/2025-11-30-dev-skills-refactoring.md
  docs/plans/2025-11-30-guido-sam-commenting-rules.md
  docs/plans/2025-12-01-streamline-dot-claude-plugins.md
  docs/plans/2025-12-01-super-plugin-quality-improvements.md
  plugins/blackbox/data/buffer.jsonl
  plugins/blackbox/data/objects/60/fde9c2310b0d4cad4dab8d126b04387efba289
  scripts/__init__.py
  scripts/fix-plugin-references.py
  scripts/validate-settings.py
  tests/test_fix_plugin_references.py
  tests/test_settings_validation.py
Due: validate-plugins, update-release-config

feat(workflow): restore lost code review templates and add reference validation
  .pre-commit-config.yaml
  CLAUDE.md
  plugins/methodology/review/agents/code-reviewer.md
  plugins/methodology/review/skills/code-review/SKILL.md
  plugins/methodology/review/templates/code-reviewer-dispatch.md
  plugins/methodology/workflow/skills/executing-plans/SKILL.md
  plugins/methodology/workflow/skills/subagent-dev/SKILL.md
  plugins/methodology/workflow/skills/writing-plans/SKILL.md
  plugins/methodology/workflow/templates/diagram-prompt.md
  scripts/validate-references.py
Due: validate-plugins, update-release-config

fix(doc): correct skill-vs-agent confusion in diagram-generator
  plugins/domain/doc/agents/diagram-generator.md
  plugins/essential/commit/commands/reset.md
  scripts/validate-references.py
Due: validate-plugins, update-release-config

feat(workflow): improve diagram generation with auto-detect mode
  plugins/domain/doc/agents/diagram-generator.md
  plugins/methodology/workflow/skills/writing-plans/SKILL.md
  plugins/methodology/workflow/templates/diagram-prompt.md
Due: validate-plugins, update-release-config

fix(workflow): use AskUserQuestion for execution handoff
  plugins/methodology/workflow/skills/writing-plans/SKILL.md
Due: validate-plugins, update-release-config

refactor: remove unused workflow commands and orphaned blackbox directory
  plugins/blackbox/data/buffer.jsonl
  plugins/blackbox/data/objects/60/fde9c2310b0d4cad4dab8d126b04387efba289
  plugins/methodology/workflow/commands/context.md
  plugins/methodology/workflow/commands/notes.md
Due: validate-plugins, update-release-config

fix(doc): condense diagram-generator agent to meet size limit
  plugins/domain/doc/agents/diagram-generator.md
Due: validate-plugins, update-release-config

feat(doc): add commands to integrate orphaned doc agents
  plugins/domain/doc/commands/api-spec.md
  plugins/domain/doc/commands/architecture.md
  plugins/domain/doc/commands/reference.md
  plugins/domain/doc/commands/tutorial.md
Due: validate-plugins, update-release-config

build: setup ruff linter and ty type checker with pre-commit hooks
  .pre-commit-config.yaml
  .python-version
  pyproject.toml
  uv.lock
Due: none

style: fix ruff and ty errors in scripts and tests
  scripts/fix-plugin-references.py
  scripts/migrate_plugin_structure.py
  scripts/test_update_release_config.py
  scripts/validate-plugins.py
  scripts/validate-references.py
  scripts/validate-settings.py
  tests/conftest.py
  tests/test_fix_plugin_references.py
  tests/test_plugin_structure.py
Due: validate-plugins

docs: update instructions to use uv consistently
  CLAUDE.md
  README.md
Due: none

docs(python): update skills and agent to use uv consistently
  plugins/domain/python/agents/python-expert.md
  plugins/domain/python/skills/python-packaging/SKILL.md
  plugins/domain/python/skills/python-performance-optimization/SKILL.md
  plugins/domain/python/skills/python-testing-patterns/references/ci-cd-integration.md
Due: validate-plugins, update-release-config

docs: update workflow and doc plugins to use uv
  plugins/domain/doc/commands/gen.md
  plugins/methodology/workflow/skills/git-worktrees/SKILL.md
Due: validate-plugins, update-release-config

fix: address PR review comments for skill references and branding
  plugins/essential/core/hooks/session-start.sh
  plugins/methodology/workflow/skills/parallel-agents/SKILL.md
  plugins/methodology/workflow/skills/subagent-dev/SKILL.md
Due: validate-plugins, update-release-config

fix: validate bare plugin names in Skill patterns
  .claude/settings.json
  scripts/validate-settings.py
Due: none

docs: fix stale skill names and remove non-existent Cursor section
  CLAUDE.md
  README.md
  plugins/methodology/workflow/skills/finish-branch/SKILL.md
  plugins/methodology/workflow/skills/git-worktrees/SKILL.md
  plugins/methodology/workflow/skills/subagent-dev/SKILL.md
Due: validate-plugins, update-release-config

fix: enforce finish-branch invocation via mandatory TodoWrite tracking
  plugins/methodology/workflow/skills/executing-plans/SKILL.md
  plugins/methodology/workflow/skills/subagent-dev/SKILL.md
Due: validate-plugins, update-release-config

Path conditions:
  validate-plugins: any of: ^(plugins/|scripts/validate-plugins.py|release-please-config.json|.claude-plugin/marketplace.json)
  update-release-config: any of: ^(plugins/|scripts/update-release-config.py|release-please-config.json|.claude-plugin/marketplace.json|version.txt)
