Repository pproenca/dot-claude: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-plugins, update-release-config

validate-plugins:
  name: Validate Plugins
  entry: python3 -S scripts/validate-plugins.py
  language: python
  pass_filenames: false

update-release-config:
  name: Update Release Config
  entry: python3 -S scripts/update-release-config.py
  language: python
  pass_filenames: false

build: reset all plugin versions to 1.0.0
  plugins/agent/.claude-plugin/plugin.json
  plugins/commit/.claude-plugin/plugin.json
  plugins/debug/.claude-plugin/plugin.json
  plugins/dev/.claude-plugin/plugin.json
  plugins/doc/.claude-plugin/plugin.json
  plugins/shell/.claude-plugin/plugin.json
  plugins/super/.claude-plugin/plugin.json
Due: validate-plugins, update-release-config

build: reset release-please manifest to v1.0.0
  .release-please-manifest.json
Due: none

build: reset marketplace.json version to 1.0.0
  .claude-plugin/marketplace.json
Due: validate-plugins, update-release-config

build: reset version.txt to 1.0.0
  version.txt
Due: update-release-config

chore: remove .envrc with 1Password references
  .envrc
  .gitignore
Due: none

docs: add usage examples to agent definitions
  plugins/agent/agents/context-manager.md
  plugins/blackbox/.claude-plugin/plugin.json
  plugins/debug/agents/devops-troubleshooter.md
  plugins/debug/agents/error-detective.md
Due: validate-plugins, update-release-config

fix(plugins): address quality issues from marketplace analysis
  plugins/agent/commands/improve.md
  plugins/analyze/commands/marketplace.md
  plugins/blackbox/.claude-plugin/plugin.json
  plugins/shell/commands/refactor.md
Due: validate-plugins, update-release-config

feat(analyze): add marketplace analysis plugin
  .claude-plugin/marketplace.json
  CLAUDE.md
  README.md
  docs/plans/2025-11-30-release-please-simplification.md
  plugins/analyze/.claude-plugin/plugin.json
  plugins/analyze/agents/capability-analyzer.md
  plugins/analyze/agents/marketplace-orchestrator.md
  plugins/analyze/agents/structure-analyzer.md
  plugins/analyze/commands/marketplace.md
  plugins/analyze/skills/marketplace-analysis/SKILL.md
  plugins/analyze/skills/marketplace-analysis/references/measuring-improvements.md
  plugins/analyze/skills/marketplace-analysis/references/quality-standards.md
  plugins/analyze/skills/marketplace-analysis/scripts/analyze-metrics.sh
Due: validate-plugins, update-release-config

refactor(tdd-guard): switch to whitelist approach for code file detection
  plugins/super/hooks/tdd-guard.sh
Due: validate-plugins, update-release-config

refactor(debug): split trace.md command into core + references
  plugins/debug/commands/trace.md
  plugins/debug/references/distributed-tracing.md
  plugins/debug/references/ide-debugging.md
  plugins/debug/references/logging-framework.md
  plugins/debug/references/performance-profiling.md
  plugins/debug/references/production-debugging.md
Due: validate-plugins, update-release-config

refactor(dev): consolidate agents and add workflow integration
  plugins/dev/agents/django-pro.md
  plugins/dev/agents/fastapi-pro.md
  plugins/dev/agents/python-pro.md
  plugins/dev/hooks/hooks.json
  plugins/dev/hooks/pytest-runner.sh
  plugins/dev/skills/async-python-patterns/SKILL.md
  plugins/dev/skills/python-packaging/SKILL.md
  plugins/dev/skills/python-performance-optimization/SKILL.md
  plugins/dev/skills/python-testing-patterns/SKILL.md
  plugins/dev/skills/uv-package-manager/SKILL.md
Due: validate-plugins, update-release-config

refactor(shell): simplify shell plugin and add verification requirements
  plugins/analyze/agents/marketplace-orchestrator.md
  plugins/analyze/commands/marketplace.md
  plugins/analyze/skills/marketplace-analysis/SKILL.md
  plugins/shell/agents/shell-expert.md
  plugins/shell/commands/refactor.md
  plugins/shell/hooks/shell-validate.sh
  plugins/shell/skills/google-shell-style/SKILL.md
  plugins/shell/skills/google-shell-style/quick-reference.md
Due: validate-plugins, update-release-config

refactor(plugins): remove agent plugin
  README.md
  plugins/agent/.claude-plugin/plugin.json
  plugins/agent/agents/context-manager.md
  plugins/agent/commands/improve.md
  plugins/agent/commands/optimize.md
Due: validate-plugins, update-release-config

refactor(plugins): remove agent plugin references from documentation
  .claude-plugin/marketplace.json
  CLAUDE.md
  README.md
  docs/plans/2025-11-30-release-please-simplification.md
  release-please-config.json
Due: validate-plugins, update-release-config

feat(blackbox): add flight recorder plugin with file snapshot recovery
  .claude-plugin/marketplace.json
  docs/plans/2025-11-30-plugin-consolidation.md
  plugins/analyze/agents/capability-analyzer.md
  plugins/analyze/skills/marketplace-analysis/references/skill-design-standards.md
  plugins/blackbox/commands/status.md
  plugins/blackbox/skills/blackbox/SKILL.md
  plugins/blackbox/skills/blackbox/references/schema.md
  plugins/blackbox/skills/blackbox/scripts/query.py
  plugins/blackbox/skills/blackbox/scripts/restore.py
  plugins/blackbox/tests/test_scripts.py
  scripts/validate-plugins.sh
Due: validate-plugins, update-release-config

docs(analyze): add reference documentation for marketplace-analysis skill
  plugins/analyze/skills/marketplace-analysis/SKILL.md
  plugins/analyze/skills/marketplace-analysis/references/output-patterns.md
  plugins/analyze/skills/marketplace-analysis/references/quality-standards.md
  plugins/analyze/skills/marketplace-analysis/references/skill-design-standards.md
  plugins/analyze/skills/marketplace-analysis/references/workflows.md
Due: validate-plugins, update-release-config

fix(analyze): add namespace prefix to agent invocations and reference validation
  plugins/analyze/agents/marketplace-orchestrator.md
  plugins/analyze/agents/structure-analyzer.md
  plugins/analyze/skills/marketplace-analysis/SKILL.md
Due: validate-plugins, update-release-config

refactor(super): update TDD and testing skills, remove completed plans
  docs/plans/2025-11-29-blackbox-flight-recorder.md
  docs/plans/2025-11-29-blackbox-read.md
  docs/plans/2025-11-29-commit-plugin-python-migration.md
  docs/plans/2025-11-30-release-please-simplification.md
  plugins/super/skills/test-driven-development/SKILL.md
  plugins/super/skills/testing-anti-patterns/SKILL.md
  plugins/super/skills/writing-plans/SKILL.md
Due: validate-plugins, update-release-config

fix(super): remove tdd-guard hook
  README.md
  plugins/super/hooks/hooks.json
  plugins/super/hooks/tdd-guard.sh
Due: validate-plugins, update-release-config

refactor(super): slim down code-reviewer, security-reviewer, diagram-generator agents
  plugins/super/agents/code-reviewer.md
  plugins/super/agents/diagram-generator.md
  plugins/super/agents/security-reviewer.md
Due: validate-plugins, update-release-config

docs(super): add code-review-standards reference
  plugins/super/references/code-review-standards.md
Due: validate-plugins, update-release-config

feat: add project-level architect and config-reviewer agents
  .claude/agents/agent-dotclaude-architect.md
  .claude/agents/agent-dotclaude-config-reviewer.md
Due: none

fix(super): standardize skill cross-references and update agent invocations
  plugins/super/skills/defense-in-depth/SKILL.md
  plugins/super/skills/requesting-code-review/code-reviewer.md
  plugins/super/skills/subagent-driven-development/SKILL.md
  plugins/super/skills/systematic-debugging/SKILL.md
  plugins/super/skills/testing-skills-with-subagents/SKILL.md
  plugins/super/skills/using-git-worktrees/SKILL.md
  plugins/super/skills/writing-plans/SKILL.md
  plugins/super/skills/writing-skills/SKILL.md
Due: validate-plugins, update-release-config

refactor(super): remove sharing-skills skill
  plugins/super/skills/sharing-skills/SKILL.md
Due: validate-plugins, update-release-config

refactor(agents): remove agent- prefix from dotclaude agents
  .claude/agents/dotclaude-architect.md
  .claude/agents/dotclaude-config-reviewer.md
Due: none

docs: add super plugin quality improvement plans
  docs/plans/2025-11-30-command-messageanalyzemarketplace-is-running.txt
  docs/plans/2025-12-01-super-plugin-quality-improvements.md
Due: none

feat(dev): enhance python-pro agent with modern Python patterns
  plugins/dev/agents/python-pro.md
Due: validate-plugins, update-release-config

refactor(dev): rename dev plugin to python
  .claude-plugin/marketplace.json
  CLAUDE.md
  README.md
  plugins/dev/.claude-plugin/plugin.json
  plugins/dev/commands/scaffold.md
  plugins/python/.claude-plugin/plugin.json
  plugins/python/agents/python-expert.md
  plugins/python/commands/refactor.md
  plugins/python/hooks/hooks.json
  plugins/python/hooks/pytest-runner.sh
  plugins/python/skills/async-python-patterns/SKILL.md
  plugins/python/skills/async-python-patterns/references/advanced-patterns.md
  plugins/python/skills/async-python-patterns/references/real-world-examples.md
  plugins/python/skills/python-packaging/SKILL.md
  plugins/python/skills/python-packaging/references/advanced-patterns.md
  plugins/python/skills/python-packaging/references/templates.md
  plugins/python/skills/python-performance-optimization/SKILL.md
  plugins/python/skills/python-performance-optimization/references/database-optimization.md
  plugins/python/skills/python-performance-optimization/references/memory-optimization.md
  plugins/python/skills/python-testing-patterns/SKILL.md
  plugins/python/skills/python-testing-patterns/references/advanced-patterns.md
  plugins/python/skills/python-testing-patterns/references/ci-cd-integration.md
  plugins/python/skills/python-testing-patterns/references/database-testing.md
  plugins/python/skills/uv-package-manager/SKILL.md
  plugins/python/skills/uv-package-manager/references/advanced-workflows.md
  plugins/python/skills/uv-package-manager/references/migration.md
  plugins/super/agents/code-reviewer.md
  plugins/super/skills/test-driven-development/SKILL.md
  plugins/super/skills/writing-plans/SKILL.md
Due: validate-plugins, update-release-config

ci: add pre-commit hooks and GitHub workflow
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  .python-version
  main.py
  pyproject.toml
  uv.lock
Due: none

feat(agents): add plugin-automation-analyzer agent
  .claude/agents/dotclaude-plugin-automation.md
Due: none

feat(scripts): add release-please-config consistency check
  release-please-config.json
  scripts/validate-plugins.sh
Due: validate-plugins, update-release-config

fix: handle missing keys in config update and null sources in plugin validation
  .pre-commit-config.yaml
  scripts/update-release-config.py
  scripts/validate-plugins.py
Due: validate-plugins, update-release-config

docs(init): update claude to use 'uv' for python
  CLAUDE.md
Due: none

refactor(scripts): rewrite validation scripts in Python
  .gitignore
  .pre-commit-config.yaml
  scripts/update-release-config.py
  scripts/validate-plugins.py
  scripts/validate-plugins.sh
Due: validate-plugins, update-release-config

feat(scripts): add marketplace plugin metadata sync
  .claude-plugin/marketplace.json
  .claude/settings.json
  scripts/test_update_release_config.py
  scripts/update-release-config.py
Due: validate-plugins, update-release-config

ci: add claude cli installation to pre-commit workflow
  .github/workflows/pre-commit.yml
  README.md
Due: none

docs(commit): remove backticks from inline punctuation markers
  plugins/commit/cheatsheets/conventional-commits.md
  plugins/commit/commands/pr.md
Due: validate-plugins, update-release-config

ci: add claude cli installation to pre-commit workflow
  .claude-plugin/marketplace.json
  scripts/validate-plugins.py
Due: validate-plugins, update-release-config

ci: add claude cli installation to pre-commit workflow
  .claude-plugin/marketplace.json
Due: validate-plugins, update-release-config

fix(scripts): update release-please config for marketplace structure
  .pre-commit-config.yaml
  release-please-config.json
  scripts/test_update_release_config.py
  scripts/update_release_config.py
Due: validate-plugins, update-release-config

Path conditions:
  validate-plugins: any of: ^(plugins/|scripts/validate-plugins.py|release-please-config.json|.claude-plugin/marketplace.json)
  update-release-config: any of: ^(plugins/|scripts/update-release-config.py|release-please-config.json|.claude-plugin/marketplace.json|version.txt)
