Repository pproenca/dot-claude: changes, and which pre-commit hooks are due for each by the changed paths.
All: marketplace-level-1, marketplace-level-2, marketplace-level-6

marketplace-level-1:
  name: Level 1 - Syntax & Structure
  entry: scripts/level-1-syntax.sh
  language: script
  pass_filenames: false

marketplace-level-2:
  name: Level 2 - Frontmatter Fields
  entry: scripts/level-2-frontmatter.sh
  language: script
  pass_filenames: false

marketplace-level-6:
  name: Level 6 - Bash Syntax
  entry: scripts/level-6-bash.sh
  language: script
  pass_filenames: false

fix(agentic-workflow): add typecheck/lint to stop hook, fix task packet fields
  docs/anti-abandonment-patterns.mermaid
  docs/context-distribution-flow.mermaid
  docs/multi-agent-workflow.mermaid
  plugins/agentic-workflow/agents/lead-orchestrator.md
  plugins/agentic-workflow/hooks/hooks.json
  plugins/agentic-workflow/hooks/scripts/verify-complete.sh
  plugins/agentic-workflow/hooks/scripts/verify-subagent-complete.sh
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

refactor(agentic-workflow): implement lean orchestrator pattern to prevent context exhaustion
  plugins/agentic-workflow/agents/lead-orchestrator.md
  plugins/agentic-workflow/agents/references/phase-delegate.md
  plugins/agentic-workflow/agents/references/phase-explore.md
  plugins/agentic-workflow/agents/references/phase-plan.md
  plugins/agentic-workflow/agents/references/phase-synthesize.md
  plugins/agentic-workflow/agents/references/phase-verify.md
  plugins/agentic-workflow/agents/task-executor.md
  plugins/agentic-workflow/agents/task-packet-writer.md
  plugins/agentic-workflow/commands/orchestrate.md
  plugins/agentic-workflow/skills/orchestration-workflow/SKILL.md
  plugins/agentic-workflow/skills/task-packet-structure/SKILL.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat(agentic-workflow): add medium-priority enhancements
  plugins/agentic-workflow/hooks/hooks.json
  plugins/agentic-workflow/hooks/scripts/background-tasks.sh
  plugins/agentic-workflow/hooks/scripts/post-tool-use.sh
  plugins/agentic-workflow/hooks/scripts/session-start.sh
  plugins/agentic-workflow/hooks/scripts/track-turns.sh
  plugins/agentic-workflow/hooks/scripts/wave-tracker.sh
Due: marketplace-level-1, marketplace-level-6

feat(plugins): add parallel execution patterns across dev-workflow and agentic-workflow
  plugins/agentic-workflow/agents/integration-tester.md
  plugins/agentic-workflow/agents/references/phase-delegate.md
  plugins/agentic-workflow/agents/task-executor.md
  plugins/agentic-workflow/skills/orchestration-workflow/SKILL.md
  plugins/dev-workflow/commands/execute-plan.md
  plugins/dev-workflow/commands/write-plan.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix(agentic-workflow): disable strict mode in track-turns hook
  plugins/agentic-workflow/hooks/scripts/track-turns.sh
Due: marketplace-level-6

perf(agentic-workflow): remove redundant PostToolUse hooks
  plugins/agentic-workflow/hooks/hooks.json
Due: marketplace-level-1

perf(plugins): remove redundant hooks and context7 references
  plugins/agentic-workflow/hooks/hooks.json
  plugins/dev-workflow/agents/code-architect.md
  plugins/dev-workflow/hooks/hooks.json
  plugins/dev-workflow/hooks/subagent-stop.sh
  plugins/dev-workflow/tools.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix(dev-workflow): handle unset BASH_SOURCE when sourcing worktree-manager
  plugins/dev-workflow/scripts/worktree-manager.sh
Due: marketplace-level-6

fix(dev-workflow): prevent data loss in worktree flow
  plugins/dev-workflow/commands/abandon.md
  plugins/dev-workflow/commands/execute-plan.md
  plugins/dev-workflow/scripts/worktree-manager.sh
  plugins/dev-workflow/skills/finishing-a-development-branch/SKILL.md
  plugins/dev-workflow/tests/worktree-manager.bats
  plugins/dev-workflow/user_stories.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

docs: implementation plan for webcodecs-harness test runner
  plugins/dev-workflow/docs/plans/2025-01-01-webcodecs-harness-runner.md
Due: marketplace-level-1, marketplace-level-2

feat(plugins): add google-ts-style plugin
  domain_plugins/google-ts-style/.claude-plugin/plugin.json
  domain_plugins/google-ts-style/skills/google-ts-style/SKILL.md
  domain_plugins/google-ts-style/skills/google-ts-style/references/patterns.md
Due: marketplace-level-1, marketplace-level-2

feat(harness): add CLI skeleton with argument parsing
  plugins/dev-workflow/scripts/run-harness.sh
  plugins/dev-workflow/tests/run-harness.bats
Due: marketplace-level-6

Update marketplace.json to modify plugins list
  .claude-plugin/marketplace.json
Due: none

refactor(plugins): rename google-ts-style to dev-typescript
  .claude-plugin/marketplace.json
  domain_plugins/dev-typescript/.claude-plugin/plugin.json
  domain_plugins/dev-typescript/skills/dev-typescript/SKILL.md
  domain_plugins/dev-typescript/skills/dev-typescript/references/patterns.md
Due: marketplace-level-1, marketplace-level-2

docs(dev-workflow): add /add-dir worktree setup instructions
  plugins/dev-workflow/README.md
  plugins/dev-workflow/hooks/check-worktree-setup.sh
  plugins/dev-workflow/hooks/hooks.json
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix(marketplace): remove trailing commas in JSON
  .claude-plugin/marketplace.json
Due: none

docs: implementation plan for shell script edge case tests
  docs/plans/2024-12-30-shell-script-edge-case-tests.md
Due: none

test(dev-workflow): add check-worktree-setup tests
  plugins/dev-workflow/tests/check-worktree-setup.bats
Due: none

test(dev-workflow): add get_max_parallel_from_groups tests
  plugins/dev-workflow/tests/hook-helpers.bats
Due: none

test(dev-workflow): add worktree-manager edge case tests
  plugins/dev-workflow/tests/worktree-manager.bats
Due: none

chore: add local settings and test dirs to gitignore
  .gitignore
Due: none

feat(dev-workflow): add PreCompact hook for context compaction guidance
  plugins/dev-workflow/hooks.md
  plugins/dev-workflow/hooks/hooks.json
Due: marketplace-level-1, marketplace-level-2

feat(dev-workflow): spawn isolated worktree session + rebase-based merge
  plugins/dev-workflow/commands/execute-plan.md
  plugins/dev-workflow/hooks/hooks.json
  plugins/dev-workflow/scripts/open-terminal.sh
  plugins/dev-workflow/skills/finishing-a-development-branch/SKILL.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix(dev-typescript): replace ** markdown with HTML bold tags
  domain_plugins/dev-typescript/skills/dev-typescript/SKILL.md
  domain_plugins/dev-typescript/skills/dev-typescript/references/patterns.md
Due: marketplace-level-1, marketplace-level-2

fix: add missing frontmatter fields and remove invalid LSP tool
  plugins/agentic-workflow/agents/anti-overfit-checker.md
  plugins/agentic-workflow/agents/code-reviewer.md
  plugins/agentic-workflow/agents/integration-tester.md
  plugins/agentic-workflow/agents/lead-orchestrator.md
  plugins/agentic-workflow/agents/synthesizer.md
  plugins/agentic-workflow/agents/task-executor.md
  plugins/agentic-workflow/agents/task-packet-writer.md
  plugins/agentic-workflow/skills/anti-abandonment/SKILL.md
  plugins/agentic-workflow/skills/context-management/SKILL.md
  plugins/agentic-workflow/skills/orchestration-workflow/SKILL.md
  plugins/agentic-workflow/skills/task-packet-structure/SKILL.md
  plugins/agentic-workflow/skills/tdd-cycle/SKILL.md
  plugins/dev-workflow/agents/code-architect.md
  plugins/dev-workflow/agents/code-explorer.md
  plugins/dev-workflow/agents/code-reviewer.md
Due: marketplace-level-1, marketplace-level-2

fix: update valid tools list and remove invalid tools
  plugins/dev-workflow/CLAUDE.md
  plugins/dev-workflow/agents/code-architect.md
  plugins/dev-workflow/agents/code-explorer.md
  plugins/dev-workflow/agents/code-reviewer.md
  scripts/lib/constants.sh
Due: marketplace-level-1, marketplace-level-2

fix: escape error in typescript plugin
  domain_plugins/dev-typescript/skills/dev-typescript/SKILL.md
  domain_plugins/dev-typescript/skills/dev-typescript/references/patterns.md
Due: marketplace-level-1, marketplace-level-2

fix(dev-typescript): escape backticks around exclamation marks
  domain_plugins/dev-typescript/skills/dev-typescript/SKILL.md
Due: marketplace-level-1, marketplace-level-2

feat(dev-cpp): add C++ excellence plugin
  domain_plugins/dev-cpp/.claude-plugin/plugin.json
  domain_plugins/dev-cpp/skills/cpp-excellence/SKILL.md
  domain_plugins/dev-cpp/skills/cpp-excellence/references/defensive.md
  domain_plugins/dev-cpp/skills/cpp-excellence/references/naming.md
  domain_plugins/dev-cpp/skills/cpp-excellence/references/node-addons.md
  domain_plugins/dev-cpp/skills/cpp-excellence/references/ownership.md
  domain_plugins/dev-cpp/skills/cpp-excellence/references/performance.md
  domain_plugins/dev-cpp/skills/cpp-excellence/references/scale.md
Due: marketplace-level-1, marketplace-level-2

fix(dev-cpp): add missing allowed-tools field to skill frontmatter
  domain_plugins/dev-cpp/skills/cpp-excellence/SKILL.md
Due: marketplace-level-1, marketplace-level-2

feat: add LSP servers and rename dev-typescript to dev-ts
  .claude-plugin/marketplace.json
  domain_plugins/dev-ts/.claude-plugin/plugin.json
  domain_plugins/dev-ts/skills/dev-ts/SKILL.md
  domain_plugins/dev-ts/skills/dev-ts/references/patterns.md
Due: marketplace-level-1, marketplace-level-2

refactor(dev-cpp): rename skill from cpp-excellence to dev-cpp
  domain_plugins/dev-cpp/skills/dev-cpp/SKILL.md
  domain_plugins/dev-cpp/skills/dev-cpp/references/defensive.md
  domain_plugins/dev-cpp/skills/dev-cpp/references/naming.md
  domain_plugins/dev-cpp/skills/dev-cpp/references/node-addons.md
  domain_plugins/dev-cpp/skills/dev-cpp/references/ownership.md
  domain_plugins/dev-cpp/skills/dev-cpp/references/performance.md
  domain_plugins/dev-cpp/skills/dev-cpp/references/scale.md
Due: marketplace-level-1, marketplace-level-2

feat(dev-ts, dev-cpp): add LSP to allowed-tools
  domain_plugins/dev-cpp/skills/dev-cpp/SKILL.md
  domain_plugins/dev-ts/skills/dev-ts/SKILL.md
Due: marketplace-level-1, marketplace-level-2

refactor(dev-workflow): simplify worktree system to sibling directory pattern
  plugins/dev-workflow/README.md
  plugins/dev-workflow/commands/execute-plan.md
  plugins/dev-workflow/hooks/check-worktree-setup.sh
  plugins/dev-workflow/hooks/hooks.json
  plugins/dev-workflow/scripts/open-terminal.sh
  plugins/dev-workflow/scripts/worktree-manager.sh
  plugins/dev-workflow/skills/finishing-a-development-branch/SKILL.md
  plugins/dev-workflow/skills/simple-git-worktrees/SKILL.md
  plugins/dev-workflow/tests/check-worktree-setup.bats
  plugins/dev-workflow/tests/worktree-manager.bats
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix(dev-workflow): avoid nested command substitutions in bash blocks
  plugins/dev-workflow/commands/execute-plan.md
  plugins/dev-workflow/scripts/worktree-manager.sh
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

refactor: rename shell plugin to dev-shell and fix validator issues
  .claude-plugin/marketplace.json
  domain_plugins/dev-shell/.claude-plugin/plugin.json
  domain_plugins/dev-shell/agents/shell-expert.md
  domain_plugins/dev-shell/commands/refactor.md
  domain_plugins/dev-shell/skills/google-shell-style/SKILL.md
  domain_plugins/dev-shell/skills/google-shell-style/references/anti-patterns.md
  domain_plugins/dev-shell/skills/google-shell-style/references/detailed-guide.md
  scripts/level-6-bash.sh
  scripts/lib/constants.sh
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix: improve developer experience for plugin installation
  .claude-plugin/marketplace.json
  README.md
  scripts/install.sh
Due: none

feat(dev-workflow): add user-story mapping command
  plugins/dev-workflow/commands/user-story.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

chore: remove all harness-related files
  .claude/trajectory.jsonl
  docs/plans/2025-12-19-harness-integration.md
  plugins/dev-workflow/docs/plans/2025-01-01-webcodecs-harness-runner.md
  plugins/dev-workflow/scripts/run-harness.sh
  plugins/dev-workflow/tests/run-harness.bats
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

chore: remove dead files
  .serena/memories/code_style.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion.md
  plugins/dev-workflow/skills/condition-based-waiting/example.ts
Due: none

Path conditions:
  marketplace-level-1: any of: ^(plugins|domain_plugins)/.*\.(md|json)$
  marketplace-level-2: any of: ^(plugins|domain_plugins)/.*\.md$
  marketplace-level-6: any of: ^(plugins|domain_plugins)/.*(commands/.*\.md|\.sh)$
