Repository pproenca/dot-claude: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-plugins, update-release-config

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.1
    hooks:
      - id: commitizen
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: validate-plugins
        name: Validate Plugins
        entry: python3 -S scripts/validate-plugins.py
        language: python
        files: ^(plugins/|scripts/validate-plugins.py|release-please-config.json|.claude-plugin/marketplace.json)
        pass_filenames: false

      - id: update-release-config
        name: Update Release Config
        entry: python3 -S scripts/update-release-config.py
        language: python
        files: ^(plugins/|scripts/update-release-config.py|release-please-config.json|.claude-plugin/marketplace.json|version.txt)
        pass_filenames: false

test: add Phase 1 token efficiency tests
  tests/test_plugin_structure.py
Due: none

test: remove migration-specific skill name length test
  tests/test_plugin_structure.py
Due: none

style: fix ruff and ty errors in scripts and tests
  scripts/fix-plugin-references.py
  scripts/migrate_plugin_structure.py
  scripts/test_update_release_config.py
  scripts/validate-plugins.py
  scripts/validate-references.py
  scripts/validate-settings.py
  tests/conftest.py
  tests/test_fix_plugin_references.py
  tests/test_plugin_structure.py
Due: validate-plugins

feat(doc): add commands to integrate orphaned doc agents
  plugins/domain/doc/commands/api-spec.md
  plugins/domain/doc/commands/architecture.md
  plugins/domain/doc/commands/reference.md
  plugins/domain/doc/commands/tutorial.md
Due: validate-plugins, update-release-config

feat(workflow): move slash commands from super
  plugins/workflow/commands/brainstorm.md
  plugins/workflow/commands/context.md
  plugins/workflow/commands/exec.md
  plugins/workflow/commands/notes.md
  plugins/workflow/commands/plan.md
Due: validate-plugins, update-release-config

refactor: remove unused workflow commands and orphaned blackbox directory
  plugins/blackbox/data/buffer.jsonl
  plugins/blackbox/data/objects/60/fde9c2310b0d4cad4dab8d126b04387efba289
  plugins/methodology/workflow/commands/context.md
  plugins/methodology/workflow/commands/notes.md
Due: validate-plugins, update-release-config

feat(workflow): move worktree-guard hook from super
  plugins/core/hooks/hooks.json
  plugins/workflow/hooks/hooks.json
  plugins/workflow/hooks/worktree-guard.sh
Due: validate-plugins, update-release-config

fix(doc): correct skill-vs-agent confusion in diagram-generator
  plugins/domain/doc/agents/diagram-generator.md
  plugins/essential/commit/commands/reset.md
  scripts/validate-references.py
Due: validate-plugins, update-release-config

fix(workflow): use AskUserQuestion for execution handoff
  plugins/methodology/workflow/skills/writing-plans/SKILL.md
Due: validate-plugins, update-release-config

feat(workflow): restore lost code review templates and add reference validation
  .pre-commit-config.yaml
  CLAUDE.md
  plugins/methodology/review/agents/code-reviewer.md
  plugins/methodology/review/skills/code-review/SKILL.md
  plugins/methodology/review/templates/code-reviewer-dispatch.md
  plugins/methodology/workflow/skills/executing-plans/SKILL.md
  plugins/methodology/workflow/skills/subagent-dev/SKILL.md
  plugins/methodology/workflow/skills/writing-plans/SKILL.md
  plugins/methodology/workflow/templates/diagram-prompt.md
  scripts/validate-references.py
Due: validate-plugins, update-release-config

fix: address PR review comments for skill references and branding
  plugins/essential/core/hooks/session-start.sh
  plugins/methodology/workflow/skills/parallel-agents/SKILL.md
  plugins/methodology/workflow/skills/subagent-dev/SKILL.md
Due: validate-plugins, update-release-config

docs: remove super plugin from CLAUDE.md
  CLAUDE.md
Due: none

feat: add settings and plugin validation tooling
  .claude/commands/claude_doctor.md
  .pre-commit-config.yaml
  CLAUDE.md
  docs/plans/2025-11-30-dev-skills-refactoring.md
  docs/plans/2025-11-30-guido-sam-commenting-rules.md
  docs/plans/2025-12-01-streamline-dot-claude-plugins.md
  docs/plans/2025-12-01-super-plugin-quality-improvements.md
  plugins/blackbox/data/buffer.jsonl
  plugins/blackbox/data/objects/60/fde9c2310b0d4cad4dab8d126b04387efba289
  scripts/__init__.py
  scripts/fix-plugin-references.py
  scripts/validate-settings.py
  tests/test_fix_plugin_references.py
  tests/test_settings_validation.py
Due: validate-plugins, update-release-config

fix: add worktree isolation check to subagent-dev skill
  plugins/methodology/workflow/skills/subagent-dev/SKILL.md
Due: validate-plugins, update-release-config

refactor: merge analyze plugin into meta and fix deprecated references
  .claude-plugin/marketplace.json
  README.md
  plugins/analyze/.claude-plugin/plugin.json
  plugins/core/hooks/hooks.json
  plugins/core/hooks/session-start.sh
  plugins/meta/agents/capability-analyzer.md
  plugins/meta/agents/marketplace-orchestrator.md
  plugins/meta/agents/structure-analyzer.md
  plugins/meta/commands/marketplace.md
  plugins/meta/skills/marketplace-analysis/SKILL.md
  plugins/meta/skills/marketplace-analysis/references/measuring-improvements.md
  plugins/meta/skills/marketplace-analysis/references/output-patterns.md
  plugins/meta/skills/marketplace-analysis/references/quality-standards.md
  plugins/meta/skills/marketplace-analysis/references/skill-design-standards.md
  plugins/meta/skills/marketplace-analysis/references/workflows.md
  plugins/meta/skills/marketplace-analysis/scripts/analyze-metrics.sh
  plugins/super/hooks/hooks.json
  release-please-config.json
Due: validate-plugins, update-release-config

refactor: update all super:* references to new plugin names
  plugins/python/agents/python-expert.md
  plugins/workflow/skills/executing-plans/SKILL.md
  plugins/workflow/skills/subagent-dev/SKILL.md
Due: validate-plugins, update-release-config

chore(docs): remove malformed plan file
  docs/plans/2025-11-30-command-messageanalyzemarketplace-is-running.txt
Due: none

test: add conftest.py with shared fixtures for plugin structure tests
  tests/conftest.py
Due: none

feat(workflow): improve diagram generation with auto-detect mode
  plugins/domain/doc/agents/diagram-generator.md
  plugins/methodology/workflow/skills/writing-plans/SKILL.md
  plugins/methodology/workflow/templates/diagram-prompt.md
Due: validate-plugins, update-release-config

feat(review): move security-reviewer agent from super
  plugins/review/agents/security-reviewer.md
Due: validate-plugins, update-release-config

chore: reset versioning to 1.0.0
  .claude-plugin/marketplace.json
  .release-please-manifest.json
  CHANGELOG.md
  plugins/domain/doc/.claude-plugin/plugin.json
  plugins/domain/python/.claude-plugin/plugin.json
  plugins/domain/shell/.claude-plugin/plugin.json
  plugins/essential/commit/.claude-plugin/plugin.json
  plugins/methodology/debug/.claude-plugin/plugin.json
  plugins/specialized/blackbox/.claude-plugin/plugin.json
  version.txt
Due: validate-plugins, update-release-config

chore: add project infrastructure and configuration
  .claude-plugin/marketplace.json
  .claude/commands/sync-claude-config.md
  .claude/settings.json
  .gitattributes
  .gitignore
  brew-formulas.txt
Due: validate-plugins, update-release-config

feat(commit): add git workflow plugin with Python hooks
  plugins/commit/.claude-plugin/plugin.json
  plugins/commit/agents/commit-organizer.md
  plugins/commit/cheatsheets/conventional-commits.md
  plugins/commit/commands/new.md
  plugins/commit/commands/pr.md
  plugins/commit/commands/reset.md
  plugins/commit/hooks/hooks.json
  plugins/commit/hooks/posttooluse_validate.py
  plugins/commit/hooks/pretooluse_safety.py
  plugins/commit/hooks/session_start.py
  plugins/commit/scripts/analyze_branch.py
  plugins/commit/scripts/commit.sh
  plugins/commit/skills/git-commit/SKILL.md
  plugins/commit/tests/__init__.py
  plugins/commit/tests/fixtures/sample_input.json
  plugins/commit/tests/test_analyze_branch.py
  plugins/commit/tests/test_posttooluse_validate.py
  plugins/commit/tests/test_pretooluse_safety.py
  plugins/commit/tests/test_session_start.py
Due: validate-plugins, update-release-config

feat(dev): add Python development skills with progressive disclosure
  plugins/dev/.claude-plugin/plugin.json
  plugins/dev/agents/django-pro.md
  plugins/dev/agents/fastapi-pro.md
  plugins/dev/agents/python-pro.md
  plugins/dev/commands/scaffold.md
  plugins/dev/skills/async-python-patterns/SKILL.md
  plugins/dev/skills/async-python-patterns/references/advanced-patterns.md
  plugins/dev/skills/async-python-patterns/references/real-world-examples.md
  plugins/dev/skills/python-packaging/SKILL.md
  plugins/dev/skills/python-packaging/references/advanced-patterns.md
  plugins/dev/skills/python-packaging/references/templates.md
  plugins/dev/skills/python-performance-optimization/SKILL.md
  plugins/dev/skills/python-performance-optimization/references/database-optimization.md
  plugins/dev/skills/python-performance-optimization/references/memory-optimization.md
  plugins/dev/skills/python-testing-patterns/SKILL.md
  plugins/dev/skills/python-testing-patterns/references/advanced-patterns.md
  plugins/dev/skills/python-testing-patterns/references/ci-cd-integration.md
  plugins/dev/skills/python-testing-patterns/references/database-testing.md
  plugins/dev/skills/uv-package-manager/SKILL.md
  plugins/dev/skills/uv-package-manager/references/advanced-workflows.md
  plugins/dev/skills/uv-package-manager/references/migration.md
Due: validate-plugins, update-release-config

feat(doc): add documentation skills with Amazon writing style
  plugins/doc/.claude-plugin/plugin.json
  plugins/doc/agents/api-documenter.md
  plugins/doc/agents/docs-architect.md
  plugins/doc/agents/mermaid-expert.md
  plugins/doc/agents/reference-builder.md
  plugins/doc/agents/tutorial-engineer.md
  plugins/doc/commands/explain.md
  plugins/doc/commands/gen.md
  plugins/doc/commands/rewrite.md
  plugins/doc/skills/amazon-writing/SKILL.md
  plugins/doc/skills/amazon-writing/references/one-pager.md
  plugins/doc/skills/amazon-writing/references/press-release.md
  plugins/doc/skills/amazon-writing/references/prfaq.md
  plugins/doc/skills/amazon-writing/references/six-pager.md
Due: validate-plugins, update-release-config

feat(shell): add shell scripting plugin with Google Style Guide
  plugins/shell/.claude-plugin/plugin.json
  plugins/shell/.gitignore
  plugins/shell/.shellspec
  plugins/shell/agents/shell-expert.md
  plugins/shell/commands/refactor.md
  plugins/shell/hooks/hooks.json
  plugins/shell/hooks/shell-validate.sh
  plugins/shell/skills/google-shell-style/SKILL.md
  plugins/shell/skills/google-shell-style/quick-reference.md
  plugins/shell/skills/man/SKILL.md
  plugins/shell/skills/man/mancat.sh
Due: validate-plugins, update-release-config

feat(debug): add distributed systems debugging plugin
  plugins/debug/.claude-plugin/plugin.json
  plugins/debug/agents/devops-troubleshooter.md
  plugins/debug/agents/error-detective.md
  plugins/debug/commands/trace.md
Due: validate-plugins, update-release-config

ci: add release-please automation for versioning
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
  version.txt
Due: validate-plugins, update-release-config

feat(agent): add multi-agent orchestration plugin
  plugins/agent/.claude-plugin/plugin.json
  plugins/agent/agents/context-manager.md
  plugins/agent/commands/improve.md
  plugins/agent/commands/optimize.md
Due: validate-plugins, update-release-config

feat(statusline): add duration and lines changed metrics
  .claude/statusline.sh
Due: none

feat(blackbox): add flight recorder telemetry plugin
  plugins/blackbox/.claude-plugin/plugin.json
  plugins/blackbox/.gitignore
  plugins/blackbox/hooks/blackbox.py
  plugins/blackbox/hooks/hooks.json
  plugins/blackbox/tests/fixtures/binary.png
  plugins/blackbox/tests/fixtures/large.txt
  plugins/blackbox/tests/fixtures/sample.txt
  plugins/blackbox/tests/test_blackbox.py
  plugins/blackbox/tests/test_integration.sh
Due: validate-plugins, update-release-config

build: add plugin validation script
  scripts/validate-plugins.sh
Due: none

docs: add README and CLAUDE.md project documentation
  CLAUDE.md
  README.md
Due: none

docs: add implementation plans for development reference
  docs/plans/2025-11-29-blackbox-flight-recorder.md
  docs/plans/2025-11-29-blackbox-read.md
  docs/plans/2025-11-29-commit-plugin-python-migration.md
  docs/plans/2025-11-30-dev-skills-refactoring.md
  docs/plans/2025-11-30-guido-sam-commenting-rules.md
Due: none

fix(commit): scope hook matchers to git commands only
  plugins/commit/hooks/hooks.json
Due: validate-plugins, update-release-config

build: add 1Password and MCP server configuration
  .envrc
  .gitignore
  .mcp.json
Due: none

build(ci): simplify release-please workflow
  .github/workflows/release-please.yml
Due: none
