Repository pproenca/dot-claude: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-plugins, update-release-config

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.1
    hooks:
      - id: commitizen
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: validate-plugins
        name: Validate Plugins
        entry: python3 -S scripts/validate-plugins.py
        language: python
        files: ^(plugins/|scripts/validate-plugins.py|release-please-config.json|.claude-plugin/marketplace.json)
        pass_filenames: false

      - id: update-release-config
        name: Update Release Config
        entry: python3 -S scripts/update-release-config.py
        language: python
        files: ^(plugins/|scripts/update-release-config.py|release-please-config.json|.claude-plugin/marketplace.json|version.txt)
        pass_filenames: false

fix(workflow): use AskUserQuestion for execution handoff
  plugins/methodology/workflow/skills/writing-plans/SKILL.md
Due: validate-plugins, update-release-config

feat(doc): add commands to integrate orphaned doc agents
  plugins/domain/doc/commands/api-spec.md
  plugins/domain/doc/commands/architecture.md
  plugins/domain/doc/commands/reference.md
  plugins/domain/doc/commands/tutorial.md
Due: validate-plugins, update-release-config

style: fix ruff and ty errors in scripts and tests
  scripts/fix-plugin-references.py
  scripts/migrate_plugin_structure.py
  scripts/test_update_release_config.py
  scripts/validate-plugins.py
  scripts/validate-references.py
  scripts/validate-settings.py
  tests/conftest.py
  tests/test_fix_plugin_references.py
  tests/test_plugin_structure.py
Due: validate-plugins

docs: update instructions to use uv consistently
  CLAUDE.md
  README.md
Due: none

build: setup ruff linter and ty type checker with pre-commit hooks
  .pre-commit-config.yaml
  .python-version
  pyproject.toml
  uv.lock
Due: none

fix: address PR review comments for skill references and branding
  plugins/essential/core/hooks/session-start.sh
  plugins/methodology/workflow/skills/parallel-agents/SKILL.md
  plugins/methodology/workflow/skills/subagent-dev/SKILL.md
Due: validate-plugins, update-release-config

fix: validate bare plugin names in Skill patterns
  .claude/settings.json
  scripts/validate-settings.py
Due: none

docs(python): update skills and agent to use uv consistently
  plugins/domain/python/agents/python-expert.md
  plugins/domain/python/skills/python-packaging/SKILL.md
  plugins/domain/python/skills/python-performance-optimization/SKILL.md
  plugins/domain/python/skills/python-testing-patterns/references/ci-cd-integration.md
Due: validate-plugins, update-release-config

docs: update workflow and doc plugins to use uv
  plugins/domain/doc/commands/gen.md
  plugins/methodology/workflow/skills/git-worktrees/SKILL.md
Due: validate-plugins, update-release-config

docs: fix stale skill names and remove non-existent Cursor section
  CLAUDE.md
  README.md
  plugins/methodology/workflow/skills/finish-branch/SKILL.md
  plugins/methodology/workflow/skills/git-worktrees/SKILL.md
  plugins/methodology/workflow/skills/subagent-dev/SKILL.md
Due: validate-plugins, update-release-config

fix: enforce finish-branch invocation via mandatory TodoWrite tracking
  plugins/methodology/workflow/skills/executing-plans/SKILL.md
  plugins/methodology/workflow/skills/subagent-dev/SKILL.md
Due: validate-plugins, update-release-config

feat: add explicit TDD and verification skill requirements to workflow
  plugins/methodology/workflow/skills/executing-plans/SKILL.md
  plugins/methodology/workflow/skills/subagent-dev/SKILL.md
Due: validate-plugins, update-release-config

build: disable MD060 table style rule in markdownlint config
  .markdownlint.yaml
  plugins/methodology/workflow/skills/subagent-dev/SKILL.md
Due: validate-plugins, update-release-config

fix: add worktree isolation check to subagent-dev skill
  plugins/methodology/workflow/skills/subagent-dev/SKILL.md
Due: validate-plugins, update-release-config

chore: reset versioning to 1.0.0
  .claude-plugin/marketplace.json
  .release-please-manifest.json
  CHANGELOG.md
  plugins/domain/doc/.claude-plugin/plugin.json
  plugins/domain/python/.claude-plugin/plugin.json
  plugins/domain/shell/.claude-plugin/plugin.json
  plugins/essential/commit/.claude-plugin/plugin.json
  plugins/methodology/debug/.claude-plugin/plugin.json
  plugins/specialized/blackbox/.claude-plugin/plugin.json
  version.txt
Due: validate-plugins, update-release-config

fix: address PR review comments for namespace prefixes and code quality
  plugins/domain/doc/agents/references/mermaid-syntax.md
  plugins/domain/doc/commands/tutorial.md
  plugins/domain/python/skills/python-testing-patterns/references/ci-cd-integration.md
  plugins/methodology/workflow/templates/diagram-prompt.md
  plugins/specialized/meta/skills/testing-skills/SKILL.md
  plugins/specialized/meta/skills/writing-skills/SKILL.md
  scripts/migrate_plugin_structure.py
  scripts/validate-references.py
  scripts/validate-settings.py
Due: validate-plugins, update-release-config

fix: enforce AskUserQuestion tool usage in skills
  .claude/references/askuserquestion-schema.md
  plugins/essential/core/skills/brainstorming/SKILL.md
  plugins/methodology/workflow/skills/executing-plans/SKILL.md
  plugins/methodology/workflow/skills/git-worktrees/SKILL.md
  plugins/methodology/workflow/skills/writing-plans/SKILL.md
Due: validate-plugins, update-release-config

chore: add .mailmap to gitignore
  .gitignore
Due: none

refactor(python): consolidate skills with Pythonic style preamble
  plugins/domain/python/agents/python-expert.md
  plugins/domain/python/hooks/detect-python-version.sh
  plugins/domain/python/hooks/hooks.json
  plugins/domain/python/references/pythonic-style.md
  plugins/domain/python/references/version-features.md
  plugins/domain/python/skills/async-python-patterns/SKILL.md
  plugins/domain/python/skills/async-python-patterns/references/advanced-patterns.md
  plugins/domain/python/skills/async-python-patterns/references/real-world-examples.md
  plugins/domain/python/skills/python-packaging/SKILL.md
  plugins/domain/python/skills/python-packaging/references/advanced-patterns.md
  plugins/domain/python/skills/python-packaging/references/templates.md
  plugins/domain/python/skills/python-performance-optimization/SKILL.md
  plugins/domain/python/skills/python-performance-optimization/references/database-optimization.md
  plugins/domain/python/skills/python-performance-optimization/references/memory-optimization.md
  plugins/domain/python/skills/python-performance/SKILL.md
  plugins/domain/python/skills/python-performance/references/async-advanced.md
  plugins/domain/python/skills/python-performance/references/optimization-advanced.md
  plugins/domain/python/skills/python-project/SKILL.md
  plugins/domain/python/skills/python-project/references/ci-cd-workflows.md
  plugins/domain/python/skills/python-project/references/pyproject-templates.md
  plugins/domain/python/skills/python-testing-patterns/SKILL.md
  plugins/domain/python/skills/python-testing/SKILL.md
  plugins/domain/python/skills/python-testing/references/advanced-patterns.md
  plugins/domain/python/skills/python-testing/references/ci-cd-integration.md
  plugins/domain/python/skills/python-testing/references/database-testing.md
  plugins/domain/python/skills/uv-package-manager/SKILL.md
  plugins/domain/python/skills/uv-package-manager/references/advanced-workflows.md
  plugins/domain/python/skills/uv-package-manager/references/migration.md
  plugins/essential/core/skills/tdd/SKILL.md
  plugins/methodology/workflow/skills/writing-plans/SKILL.md
  tests/test_plugin_structure.py
Due: validate-plugins, update-release-config

fix: add MCP tool pattern support to settings validation
  scripts/validate-settings.py
Due: none

fix: add safe worktree cleanup sequence to finish-branch skill
  .pre-commit-config.yaml
  plugins/methodology/workflow/skills/finish-branch/SKILL.md
Due: validate-plugins, update-release-config

style: apply markdownlint-cli2 v0.18.1 auto-fixes
  .claude/references/askuserquestion-schema.md
  plugins/essential/core/skills/brainstorming/SKILL.md
  plugins/methodology/workflow/skills/executing-plans/SKILL.md
  plugins/methodology/workflow/skills/git-worktrees/SKILL.md
  plugins/methodology/workflow/skills/writing-plans/SKILL.md
Due: validate-plugins, update-release-config

fix: add ty override for plugin tests with dynamic imports
  plugins/specialized/blackbox/skills/blackbox/scripts/query.py
  pyproject.toml
Due: validate-plugins, update-release-config

style: apply ruff and markdownlint auto-fixes
  plugins/domain/python/agents/python-expert.md
  plugins/domain/python/references/pythonic-style.md
  plugins/domain/python/references/version-features.md
  plugins/domain/python/skills/python-project/SKILL.md
  plugins/domain/python/skills/python-project/references/ci-cd-workflows.md
  plugins/essential/commit/hooks/posttooluse_validate.py
  plugins/essential/commit/hooks/pretooluse_safety.py
  plugins/essential/commit/hooks/session_start.py
  plugins/essential/commit/scripts/analyze_branch.py
  plugins/essential/commit/tests/test_analyze_branch.py
  plugins/essential/commit/tests/test_posttooluse_validate.py
  plugins/essential/commit/tests/test_pretooluse_safety.py
  plugins/essential/commit/tests/test_session_start.py
  plugins/specialized/blackbox/skills/blackbox/scripts/restore.py
  plugins/specialized/blackbox/tests/test_blackbox.py
  plugins/specialized/blackbox/tests/test_scripts.py
  scripts/fix-plugin-references.py
  scripts/test_update_release_config.py
  scripts/update_release_config.py
  scripts/validate-plugins.py
  scripts/validate-references.py
  tests/conftest.py
  tests/test_fix_plugin_references.py
  tests/test_plugin_structure.py
  tests/test_settings_validation.py
Due: validate-plugins, update-release-config

feat(python): add specialized framework agents and django styleguide
  plugins/domain/python/agents/async-python-specialist.md
  plugins/domain/python/agents/django-specialist.md
  plugins/domain/python/agents/fastapi-specialist.md
  plugins/domain/python/agents/python-expert.md
  plugins/domain/python/references/django-styleguide.md
Due: validate-plugins, update-release-config

feat(workflow): add task complexity classification to writing-plans
  plugins/methodology/workflow/skills/writing-plans/SKILL.md
Due: validate-plugins, update-release-config

feat(workflow): add complexity-aware task execution to executing-plans
  plugins/methodology/workflow/skills/executing-plans/SKILL.md
Due: validate-plugins, update-release-config

feat(workflow): add complexity-aware subagent dispatch with efficiency targets
  plugins/methodology/workflow/skills/subagent-dev/SKILL.md
Due: validate-plugins, update-release-config

build: add pre-push stage to run hooks on push
  .pre-commit-config.yaml
Due: none

feat(python): add decision-based commenting philosophy
  plugins/domain/python/agents/python-expert.md
  plugins/domain/python/commands/refactor.md
  plugins/domain/python/references/decision-based-comments.md
  plugins/domain/python/references/pythonic-style.md
  plugins/domain/python/skills/python-performance/SKILL.md
  plugins/domain/python/skills/python-project/SKILL.md
  plugins/domain/python/skills/python-testing/SKILL.md
Due: validate-plugins, update-release-config

docs: add workflow-to-domain delegation design
  docs/plans/2025-12-03-workflow-domain-delegation.md
Due: none

feat(workflow): add domain agent delegation to workflow skills
  plugins/methodology/workflow/skills/executing-plans/SKILL.md
  plugins/methodology/workflow/skills/subagent-dev/SKILL.md
  plugins/methodology/workflow/skills/writing-plans/SKILL.md
Due: validate-plugins, update-release-config

fix(workflow): preserve parent-executes model in executing-plans
  plugins/methodology/workflow/skills/executing-plans/SKILL.md
Due: validate-plugins, update-release-config

chore: remove blackbox plugin and add workflow hooks
  .claude-plugin/marketplace.json
  .claude/agents/dotclaude-agent-eval.md
  .claude/agents/dotclaude-command-eval.md
  .claude/agents/dotclaude-plugin-automation.md
  CLAUDE.md
  README.md
  docs/plans/2025-12-03-task-complexity-optimization.md
  plugins/domain/python/hooks/detect-python-version.sh
  plugins/domain/python/hooks/hooks.json
  plugins/essential/commit/hooks/hooks.json
  plugins/essential/core/hooks/hooks.json
  plugins/methodology/workflow/hooks/hooks.json
  plugins/methodology/workflow/hooks/plan-validator.sh
  plugins/methodology/workflow/hooks/worktree-guards.sh
  plugins/specialized/blackbox/.claude-plugin/plugin.json
  plugins/specialized/blackbox/.gitignore
  plugins/specialized/blackbox/commands/status.md
  plugins/specialized/blackbox/hooks/blackbox.py
  plugins/specialized/blackbox/hooks/hooks.json
  plugins/specialized/blackbox/skills/blackbox/SKILL.md
  plugins/specialized/blackbox/skills/blackbox/references/schema.md
  plugins/specialized/blackbox/skills/blackbox/scripts/query.py
  plugins/specialized/blackbox/skills/blackbox/scripts/restore.py
  plugins/specialized/blackbox/tests/fixtures/binary.png
  plugins/specialized/blackbox/tests/fixtures/large.txt
  plugins/specialized/blackbox/tests/fixtures/sample.txt
  plugins/specialized/blackbox/tests/test_blackbox.py
  plugins/specialized/blackbox/tests/test_integration.sh
  plugins/specialized/blackbox/tests/test_scripts.py
  release-please-config.json
  scripts/migrate_plugin_structure.py
  scripts/validate-settings.py
  tests/conftest.py
Due: validate-plugins, update-release-config

build: add shellcheck pre-commit hook
  .pre-commit-config.yaml
  plugins/methodology/workflow/hooks/worktree-guards.sh
Due: validate-plugins, update-release-config

refactor: rename python plugin to dev-python
  README.md
  marketplace.json
  plugins/dev-python/.claude-plugin/plugin.json
  plugins/dev-python/agents/async-python-specialist.md
  plugins/dev-python/agents/django-specialist.md
  plugins/dev-python/agents/python-expert.md
  plugins/dev-python/commands/refactor.md
  plugins/dev-python/hooks/detect-python-version.sh
  plugins/dev-python/hooks/hooks.json
  plugins/dev-python/hooks/pytest-runner.sh
  plugins/dev-python/references/decision-based-comments.md
  plugins/dev-python/references/django-styleguide.md
  plugins/dev-python/references/pythonic-style.md
  plugins/dev-python/references/version-features.md
  plugins/dev-python/skills/python-performance/SKILL.md
  plugins/dev-python/skills/python-project/SKILL.md
  plugins/dev-python/skills/python-testing/SKILL.md
Due: validate-plugins, update-release-config

chore: release 1.0.0
  .claude-plugin/marketplace.json
  marketplace.json
  plugins/dev-python/.claude-plugin/plugin.json
  plugins/dev-python/hooks/hooks.json
  plugins/dev-workflow/.claude-plugin/marketplace.json
  plugins/dev-workflow/.claude-plugin/plugin.json
Due: validate-plugins, update-release-config
