Repository pproenca/dot-claude: changes, and which pre-commit hooks are due for each by the changed paths.
All: marketplace-level-1, marketplace-level-2, marketplace-level-6

marketplace-level-1:
  name: Level 1 - Syntax & Structure
  entry: scripts/level-1-syntax.sh
  language: script
  pass_filenames: false

marketplace-level-2:
  name: Level 2 - Frontmatter Fields
  entry: scripts/level-2-frontmatter.sh
  language: script
  pass_filenames: false

marketplace-level-6:
  name: Level 6 - Bash Syntax
  entry: scripts/level-6-bash.sh
  language: script
  pass_filenames: false

docs: add plugin marketplace installation instructions
  README.md
Due: none

docs: implementation plan for harness integration
  docs/plans/2025-12-19-harness-integration.md
Due: none

feat(harness): add ensure-harness.sh daemon spawn script
  plugins/dev-workflow/scripts/ensure-harness.sh
  plugins/dev-workflow/tests/ensure-harness.bats
  plugins/dev-workflow/tests/mocks/harness
Due: marketplace-level-6

feat(harness): add plan-to-harness.sh markdown converter
  plugins/dev-workflow/scripts/plan-to-harness.sh
  plugins/dev-workflow/tests/plan-to-harness.bats
Due: marketplace-level-6

feat(harness): integrate session-start hook with harness daemon
  plugins/dev-workflow/hooks/session-start.sh
  plugins/dev-workflow/tests/session-start.bats
Due: marketplace-level-6

feat(harness): add harness wrapper functions to hook-helpers.sh
  plugins/dev-workflow/scripts/hook-helpers.sh
  plugins/dev-workflow/tests/hook-helpers.bats
Due: marketplace-level-6

feat(harness): update resume command to use harness state
  plugins/dev-workflow/commands/resume.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat(harness): update execute-plan to use harness task claiming
  plugins/dev-workflow/commands/execute-plan.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat(harness): update write-plan to import plan into harness
  plugins/dev-workflow/commands/write-plan.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

test(harness): add integration tests for harness workflow
  plugins/dev-workflow/tests/harness-integration.bats
Due: none

fix(harness): address code review issues
  plugins/dev-workflow/scripts/hook-helpers.sh
  plugins/dev-workflow/scripts/plan-to-harness.sh
  plugins/dev-workflow/tests/harness-integration.bats
  plugins/dev-workflow/tests/plan-to-harness.bats
Due: marketplace-level-6

feat(harness): update install instructions and test mock
  plugins/dev-workflow/scripts/ensure-harness.sh
  plugins/dev-workflow/tests/mocks/harness
Due: marketplace-level-6

refactor(dev-workflow): migrate state management to harness daemon
  plugins/dev-workflow/CLAUDE.md
  plugins/dev-workflow/README.md
  plugins/dev-workflow/commands/abandon.md
  plugins/dev-workflow/hooks/hooks.json
  plugins/dev-workflow/hooks/session-start.sh
  plugins/dev-workflow/hooks/stop.sh
  plugins/dev-workflow/scripts/hook-helpers.sh
  plugins/dev-workflow/skills/getting-started/SKILL.md
  plugins/dev-workflow/tests/hook-helpers.bats
  plugins/dev-workflow/tests/session-start.bats
  plugins/dev-workflow/tests/test_helper.bash
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix(dev-workflow): correct harness command and update user stories
  .claude/dev-workflow-state.json
  .claude/trajectory.jsonl
  plugins/dev-workflow/commands/execute-plan.md
  plugins/dev-workflow/user_stories.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

refactor: rename harness to hyh and access via uvx
  .serena/memories/code_style.md
  domain_plugins/dev-python/agents/async-python-specialist.md
  domain_plugins/dev-python/agents/django-specialist.md
  domain_plugins/dev-python/agents/python-expert.md
  domain_plugins/shell/agents/shell-expert.md
  plugins/dev-workflow/CLAUDE.md
  plugins/dev-workflow/README.md
  plugins/dev-workflow/agents/code-explorer.md
  plugins/dev-workflow/commands/abandon.md
  plugins/dev-workflow/commands/execute-plan.md
  plugins/dev-workflow/commands/resume.md
  plugins/dev-workflow/commands/write-plan.md
  plugins/dev-workflow/hooks/session-start.sh
  plugins/dev-workflow/scripts/ensure-harness.sh
  plugins/dev-workflow/scripts/hook-helpers.sh
  plugins/dev-workflow/scripts/plan-to-harness.sh
  plugins/dev-workflow/skills/getting-started/SKILL.md
  plugins/dev-workflow/tests/ensure-harness.bats
  plugins/dev-workflow/tests/harness-integration.bats
  plugins/dev-workflow/tests/hook-helpers.bats
  plugins/dev-workflow/tests/mocks/uvx
  plugins/dev-workflow/tests/session-start.bats
  plugins/dev-workflow/tools.md
  plugins/dev-workflow/user_stories.md
  scripts/lib/constants.sh
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix: skip slow integration tests by default
  Makefile
  plugins/dev-workflow/tests/harness-integration.bats
Due: none

refactor: rename harness to hyh throughout codebase
  plugins/dev-workflow/commands/abandon.md
  plugins/dev-workflow/commands/execute-plan.md
  plugins/dev-workflow/commands/resume.md
  plugins/dev-workflow/commands/write-plan.md
  plugins/dev-workflow/hooks/session-start.sh
  plugins/dev-workflow/scripts/ensure-hyh.sh
  plugins/dev-workflow/scripts/hook-helpers.sh
  plugins/dev-workflow/scripts/plan-to-hyh.sh
  plugins/dev-workflow/skills/getting-started/SKILL.md
  plugins/dev-workflow/tests/ensure-hyh.bats
  plugins/dev-workflow/tests/hook-helpers.bats
  plugins/dev-workflow/tests/hyh-integration.bats
  plugins/dev-workflow/tests/mocks/harness
  plugins/dev-workflow/tests/mocks/hyh
  plugins/dev-workflow/tests/plan-to-hyh.bats
  plugins/dev-workflow/tests/session-start.bats
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

perf: optimize test suite to run in <10 seconds
  Makefile
  plugins/dev-workflow/tests/session-start.bats
Due: none

chore: remove unused worktree functionality
  plugins/dev-workflow/scripts/worktree-manager.sh
  plugins/dev-workflow/tests/worktree-manager.bats
Due: marketplace-level-6

fix: remove worktree references from finishing-a-development-branch skill
  plugins/dev-workflow/skills/finishing-a-development-branch/SKILL.md
Due: marketplace-level-1, marketplace-level-2

feat(dev-workflow): add worktree manager based on DHH pattern
  plugins/dev-workflow/scripts/worktree-manager.sh
  plugins/dev-workflow/skills/finishing-a-development-branch/SKILL.md
  plugins/dev-workflow/tests/worktree-manager.bats
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat(dev-workflow): use Opus 4.5 for all subagents
  plugins/dev-workflow/commands/execute-plan.md
  plugins/dev-workflow/commands/write-plan.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat(dev-workflow): integrate worktree setup in execute-plan
  plugins/dev-workflow/commands/execute-plan.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix(dev-workflow): use CLAUDE_PLUGIN_ROOT for script paths
  plugins/dev-workflow/scripts/hook-helpers.sh
Due: marketplace-level-6

feat(execute-plan): add recovery detection and TodoWrite sync
  plugins/dev-workflow/commands/execute-plan.md
  plugins/dev-workflow/scripts/hook-helpers.sh
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat(plugins): add agentic-workflow plugin for multi-agent orchestration
  .claude-plugin/marketplace.json
  plugins/methodology/agentic-workflow/.claude-plugin/plugin.json
  plugins/methodology/agentic-workflow/README.md
  plugins/methodology/agentic-workflow/agents/anti-overfit-checker.md
  plugins/methodology/agentic-workflow/agents/code-reviewer.md
  plugins/methodology/agentic-workflow/agents/integration-tester.md
  plugins/methodology/agentic-workflow/agents/lead-orchestrator.md
  plugins/methodology/agentic-workflow/agents/synthesizer.md
  plugins/methodology/agentic-workflow/agents/task-executor.md
  plugins/methodology/agentic-workflow/commands/artifact.md
  plugins/methodology/agentic-workflow/commands/orchestrate.md
  plugins/methodology/agentic-workflow/commands/progress.md
  plugins/methodology/agentic-workflow/commands/verify.md
  plugins/methodology/agentic-workflow/hooks/hooks.json
  plugins/methodology/agentic-workflow/hooks/scripts/post-tool-use.sh
  plugins/methodology/agentic-workflow/hooks/scripts/session-start.sh
  plugins/methodology/agentic-workflow/hooks/scripts/verify-complete.sh
  plugins/methodology/agentic-workflow/skills/anti-abandonment/SKILL.md
  plugins/methodology/agentic-workflow/skills/context-management/SKILL.md
  plugins/methodology/agentic-workflow/skills/context-management/references/artifact-template.md
  plugins/methodology/agentic-workflow/skills/context-management/references/progress-template.md
  plugins/methodology/agentic-workflow/skills/context-management/references/todo-template.md
  plugins/methodology/agentic-workflow/skills/orchestration-workflow/SKILL.md
  plugins/methodology/agentic-workflow/skills/orchestration-workflow/references/scaling-examples.md
  plugins/methodology/agentic-workflow/skills/task-packet-structure/SKILL.md
  plugins/methodology/agentic-workflow/skills/task-packet-structure/examples/task-packet-example.md
  plugins/methodology/agentic-workflow/skills/tdd-cycle/SKILL.md
  plugins/methodology/agentic-workflow/skills/tdd-cycle/examples/python-tdd-example.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

refactor: move agentic-workflow to plugins root
  .claude-plugin/marketplace.json
  plugins/agentic-workflow/.claude-plugin/plugin.json
  plugins/agentic-workflow/README.md
  plugins/agentic-workflow/agents/anti-overfit-checker.md
  plugins/agentic-workflow/agents/code-reviewer.md
  plugins/agentic-workflow/agents/integration-tester.md
  plugins/agentic-workflow/agents/lead-orchestrator.md
  plugins/agentic-workflow/agents/synthesizer.md
  plugins/agentic-workflow/agents/task-executor.md
  plugins/agentic-workflow/commands/artifact.md
  plugins/agentic-workflow/commands/orchestrate.md
  plugins/agentic-workflow/commands/progress.md
  plugins/agentic-workflow/commands/verify.md
  plugins/agentic-workflow/hooks/hooks.json
  plugins/agentic-workflow/hooks/scripts/post-tool-use.sh
  plugins/agentic-workflow/hooks/scripts/session-start.sh
  plugins/agentic-workflow/hooks/scripts/verify-complete.sh
  plugins/agentic-workflow/skills/anti-abandonment/SKILL.md
  plugins/agentic-workflow/skills/context-management/SKILL.md
  plugins/agentic-workflow/skills/context-management/references/artifact-template.md
  plugins/agentic-workflow/skills/context-management/references/progress-template.md
  plugins/agentic-workflow/skills/context-management/references/todo-template.md
  plugins/agentic-workflow/skills/orchestration-workflow/SKILL.md
  plugins/agentic-workflow/skills/orchestration-workflow/references/scaling-examples.md
  plugins/agentic-workflow/skills/task-packet-structure/SKILL.md
  plugins/agentic-workflow/skills/task-packet-structure/examples/task-packet-example.md
  plugins/agentic-workflow/skills/tdd-cycle/SKILL.md
  plugins/agentic-workflow/skills/tdd-cycle/examples/python-tdd-example.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix(agentic-workflow): add phase-based enforcement for plan approval
  plugins/agentic-workflow/agents/lead-orchestrator.md
  plugins/agentic-workflow/commands/orchestrate.md
  plugins/agentic-workflow/commands/progress.md
  plugins/agentic-workflow/hooks/hooks.json
  plugins/agentic-workflow/hooks/scripts/gate-task-tool.sh
  plugins/agentic-workflow/hooks/scripts/handle-approval.sh
  plugins/agentic-workflow/hooks/scripts/verify-complete.sh
  plugins/agentic-workflow/hooks/scripts/workflow-phase.sh
  plugins/agentic-workflow/skills/orchestration-workflow/SKILL.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

refactor(agentic-workflow): use opus model and standardize AskUserQuestion patterns
  plugins/agentic-workflow/agents/anti-overfit-checker.md
  plugins/agentic-workflow/agents/code-reviewer.md
  plugins/agentic-workflow/agents/integration-tester.md
  plugins/agentic-workflow/agents/lead-orchestrator.md
  plugins/agentic-workflow/agents/synthesizer.md
  plugins/agentic-workflow/agents/task-executor.md
  plugins/agentic-workflow/commands/artifact.md
  plugins/agentic-workflow/commands/progress.md
  plugins/agentic-workflow/commands/verify.md
  plugins/agentic-workflow/skills/orchestration-workflow/SKILL.md
  plugins/agentic-workflow/skills/task-packet-structure/SKILL.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

refactor(agentic-workflow): standardize AskUserQuestion patterns across commands
  plugins/agentic-workflow/commands/artifact.md
  plugins/agentic-workflow/commands/progress.md
  plugins/agentic-workflow/commands/worktree.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat(agentic-workflow): add git worktree isolation for subagents
  plugins/agentic-workflow/agents/lead-orchestrator.md
  plugins/agentic-workflow/agents/task-executor.md
  plugins/agentic-workflow/commands/orchestrate.md
  plugins/agentic-workflow/hooks/scripts/gate-task-tool.sh
  plugins/agentic-workflow/hooks/scripts/session-start.sh
  plugins/agentic-workflow/hooks/scripts/verify-complete.sh
  plugins/agentic-workflow/hooks/scripts/worktree-utils.sh
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

feat(marketplace): add dev-workflow plugin
  .claude-plugin/marketplace.json
Due: none

feat(agentic-workflow): improve AskUserQuestion compliance to 92%
  plugins/agentic-workflow/agents/lead-orchestrator.md
  plugins/agentic-workflow/commands/artifact.md
  plugins/agentic-workflow/commands/orchestrate.md
  plugins/agentic-workflow/commands/progress.md
  plugins/agentic-workflow/commands/worktree.md
  plugins/agentic-workflow/skills/orchestration-workflow/SKILL.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix(agentic-workflow): improve advanced-workflows compliance
  plugins/agentic-workflow/commands/artifact.md
  plugins/agentic-workflow/commands/progress.md
  plugins/agentic-workflow/commands/verify.md
  plugins/agentic-workflow/commands/worktree.md
  plugins/agentic-workflow/hooks/scripts/gate-task-tool.sh
  plugins/agentic-workflow/hooks/scripts/handle-approval.sh
  plugins/agentic-workflow/hooks/scripts/post-tool-use.sh
  plugins/agentic-workflow/hooks/scripts/session-start.sh
  plugins/agentic-workflow/hooks/scripts/verify-complete.sh
  plugins/agentic-workflow/hooks/scripts/workflow-phase.sh
  plugins/agentic-workflow/hooks/scripts/worktree-utils.sh
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

refactor(agentic-workflow): improve hook compliance with best practices
  plugins/agentic-workflow/hooks/hooks.json
  plugins/agentic-workflow/hooks/scripts/handle-approval.sh
  plugins/agentic-workflow/hooks/scripts/post-tool-use.sh
  plugins/agentic-workflow/hooks/scripts/verify-complete.sh
  plugins/agentic-workflow/hooks/scripts/worktree-utils.sh
Due: marketplace-level-1, marketplace-level-6

refactor(dev-workflow): remove hyh daemon dependency
  plugins/dev-workflow/CLAUDE.md
  plugins/dev-workflow/README.md
  plugins/dev-workflow/commands/abandon.md
  plugins/dev-workflow/commands/execute-plan.md
  plugins/dev-workflow/commands/resume.md
  plugins/dev-workflow/commands/write-plan.md
  plugins/dev-workflow/hooks/session-start.sh
  plugins/dev-workflow/scripts/ensure-hyh.sh
  plugins/dev-workflow/scripts/hook-helpers.sh
  plugins/dev-workflow/scripts/plan-to-hyh.sh
  plugins/dev-workflow/skills/getting-started/SKILL.md
  plugins/dev-workflow/tests/ensure-hyh.bats
  plugins/dev-workflow/tests/hook-helpers.bats
  plugins/dev-workflow/tests/hyh-integration.bats
  plugins/dev-workflow/tests/mocks/uvx
  plugins/dev-workflow/tests/plan-to-hyh.bats
  plugins/dev-workflow/tests/session-start.bats
  plugins/dev-workflow/user_stories.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

docs(agentic-workflow): add explicit parallel execution patterns
  plugins/agentic-workflow/agents/lead-orchestrator.md
  plugins/agentic-workflow/skills/orchestration-workflow/SKILL.md
  plugins/agentic-workflow/skills/task-packet-structure/SKILL.md
Due: marketplace-level-1, marketplace-level-2

feat(dev-workflow): add LSP configuration and tool support
  plugins/dev-workflow/.lsp.json
  plugins/dev-workflow/agents/code-architect.md
  plugins/dev-workflow/agents/code-explorer.md
  plugins/dev-workflow/agents/code-reviewer.md
Due: marketplace-level-1, marketplace-level-2

fix(agentic-workflow): improve multi-agent orchestration compliance
  plugins/agentic-workflow/agents/integration-tester.md
  plugins/agentic-workflow/agents/lead-orchestrator.md
  plugins/agentic-workflow/agents/synthesizer.md
  plugins/agentic-workflow/commands/orchestrate.md
  plugins/agentic-workflow/commands/verify.md
  plugins/agentic-workflow/skills/orchestration-workflow/SKILL.md
  plugins/agentic-workflow/skills/task-packet-structure/SKILL.md
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

fix(agentic-workflow): enforce multi-agent orchestration patterns
  plugins/agentic-workflow/agents/lead-orchestrator.md
  plugins/agentic-workflow/agents/synthesizer.md
  plugins/agentic-workflow/commands/verify.md
  plugins/agentic-workflow/hooks/hooks.json
  plugins/agentic-workflow/hooks/scripts/block-subagent-task.sh
  plugins/agentic-workflow/hooks/scripts/gate-task-tool.sh
Due: marketplace-level-1, marketplace-level-2, marketplace-level-6

Path conditions:
  marketplace-level-1: any of: ^(plugins|domain_plugins)/.*\.(md|json)$
  marketplace-level-2: any of: ^(plugins|domain_plugins)/.*\.md$
  marketplace-level-6: any of: ^(plugins|domain_plugins)/.*(commands/.*\.md|\.sh)$
